<!DOCTYPE html>
<html lang="it" ng-app="intranetpluri">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="apple-touch-icon" sizes="57x57" ng-href="/img/pluridoc/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" ng-href="/img/pluridoc/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" ng-href="/img/pluridoc/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" ng-href="/img/pluridoc/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" ng-href="/img/pluridoc/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" ng-href="/img/pluridoc/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" ng-href="/img/pluridoc/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" ng-href="/img/pluridoc/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" ng-href="/img/pluridoc/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  ng-href="/img/pluridoc/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" ng-href="/img/pluridoc/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" ng-href="/img/pluridoc/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" ng-href="/img/pluridoc/favicons/favicon-16x16.png">
      <link rel="shortcut icon" type="image/x-icon" href="/img/pluridoc/favicons/favicon.ico">
      <link rel="manifest" ng-href="/img/pluridoc/favicons/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/img/pluridoc/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <title>{{company.shortname}} | Documents Sharing Platform</title>
      <link rel="stylesheet" href="/rest/css/variables.css" />
      <link rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.min.css">
      <link rel="stylesheet" ng-href="/css/app.css">
      <link rel="stylesheet" href="/css/treeView.css" />
      <link rel="stylesheet" href="/lib/switchery/dist/switchery.min.css">
      <link rel="stylesheet" href="/lib/ng-notify/dist/ng-notify.min.css">
      
   </head>

   <body fastclick menusize ng-cloak>
      <div id="wrapper">
         <nav role="navigation"
              class="navbar-default navbar-static-side"
              ng-if="!login"
              ng-include="'/html/includes/navbar.html'"
              altezza>
         </nav>
         <div id="overlay-menu"></div>
         <div id="overlay"></div>
         <div id="page-wrapper"
              class="gray-bg"
              ng-if="!login"
              altezza>
            <div class="row border-bottom" ng-include="'/html/includes/userbar.html'"></div>
            <div ng-cloak ui-view></div>
            <div ng-cloak ng-view></div>
         </div>
         <div ng-if="login" ng-cloak ui-view></div>
         <div ng-if="login" ng-cloak ng-view></div>
         <div class="modal" id="openZoom" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                     </button>
                     <h3 class="modal-title">
                        {{ 'chiedi_assistenza2' | translate }}
                     </h3>
                  </div>
                  <div class="modal-body">
                     <h4>{{ 'zoom_text' | translate }}</h4>
                     <a class="btn btn-primary"
                        ng-if="user.joinURL"
                        target="_blank"
                        href="{{user.joinURL}}">
                        {{ 'chiamata_zoom' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- lib -->
      <script src="/lib/fastclick/lib/fastclick.js"></script>
      <script src="/lib/jquery/dist/jquery.min.js"></script>
      <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/lib/underscore/underscore-min.js"></script>
      <script src="/lib/switchery/dist/switchery.min.js"></script>
      <script src="/lib/metisMenu/dist/metisMenu.min.js"></script>
      <script src="/lib/moment/min/moment-with-locales.min.js"></script>
      <script src="/lib/angular/angular.min.js"></script>
      <script src="/lib/angular-strap/dist/angular-strap.min.js"></script>
      <script src="/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>
      <script src="/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
      <script src="/lib/angular-route/angular-route.min.js"></script>
      <script src="/lib/ng-notify/dist/ng-notify.min.js"></script>
      <script src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
      <script src="/lib/async/dist/async.min.js"></script>
      <script src="/lib/angularUtils-pagination/dirPagination.js"></script>
      <script src="/lib/a0-angular-storage/dist/angular-storage.min.js"></script>
      <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="/lib/angular-translate/angular-translate.min.js"></script>
      <script src="/lib/angular-bootstrap-confirm/src/ui-bootstrap-position.js"></script>
      <script src="/lib/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.min.js"></script>
      <script src="/lib/chart.js/dist/Chart.min.js"></script>
      <script src="/lib/ng-tags-input/ng-tags-input.min.js"></script>

      <!-- angular stuff -->
      <script src="/js/app.js"></script>
      <script src="/js/plsql.js"></script>
      <script src="/js/router.js"></script>
      <script src="/js/directives.js"></script>
      <script src="/js/constants.js"></script>
      <script src="/js/translations.js"></script>
      <script src="/js/services.js"></script>
      <script src="/js/filters.js"></script>

      <!-- controllers -->
      <script src="/js/controllers/login.js"></script>
      <script src="/js/controllers/home.js"></script>
      <script src="/js/controllers/docs.js"></script>
      <script src="/js/controllers/docs-utenti.js"></script>
      <script src="/js/controllers/docs-upload.js"></script>
      <script src="/js/controllers/docs-gruppi.js"></script>
      <script src="/js/controllers/docs-caricati.js"></script>
      <script src="/js/controllers/docs-scaricati.js"></script>
      <script src="/js/controllers/docs-impostazioni.js"></script>
      <script src="/js/controllers/docs-report1.js"></script>
      <script src="/js/controllers/users.js"></script>
      <script src="/js/controllers/user.js"></script>
      <script src="/js/controllers/user-channels.js"></script>
      <script src="/js/controllers/user-download.js"></script>
      <script src="/js/controllers/user-upload.js"></script>
      <script src="/js/controllers/reset_password.js"></script>
      <script src="/js/controllers/change_password.js"></script>
      <script src="/js/controllers/report_sintesi.js"></script>
      <script src="/js/controllers/report_canali.js"></script>
      <script src="/js/controllers/report_mail.js"></script>
      <script src="/js/controllers/report_mail_graph.js"></script>
      <script src="/js/controllers/report_tags.js"></script>
      <script src="/js/controllers/transfer.js"></script>

      <!-- <link type="text/css" rel="stylesheet" href="css/spid-sp-access-button.min.css" /> -->
      <!-- il seguente include era per il bottone SPID ma se funziona il nostro jquery più aggiornato, lasciamo il nostro -->
      <!--script type="text/javascript" src="js/jquery.min.js"></script-->
         <!-- <script type="text/javascript" src="js/spid-sp-access-button.min.js"></script>
         <script>
             $(document).ready(function(){
                 var rootList = $("#spid-idp-list-medium-root-get");
                 var idpList = rootList.children(".spid-idp-button-link");
                 var lnkList = rootList.children(".spid-idp-support-link");
                 while (idpList.length) {
                     rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
                 }
                 rootList.append(lnkList);
             });
             $(document).ready(function(){
                 var rootList = $("#spid-idp-list-medium-root-post");
                 var idpList = rootList.children(".spid-idp-button-link");
                 var lnkList = rootList.children(".spid-idp-support-link");
                 while (idpList.length) {
                     rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
                 }
                 rootList.append(lnkList);
             });
         </script> -->
   </body>
</html>
