<div class="nav-pills-desktop">
   <ul class="nav nav-pills" id="docs_tabs">
      <li ng-class="{active: $route.current.activetab == 'documenti'}">
         <a href="#!/canale-documenti"><i class="fa fa-fw fa-files-o"></i> {{ 'documenti' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'utenti'}" ng-if="user.admin || uploader">
         <a href="#!/canale-utenti"><i class="fa fa-fw fa-user"></i> {{ 'utenti_abilitati' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'gruppi'}" ng-if="(user.admin || uploader) && !selectedChannel.pubblico">
         <a href="#!/canale-gruppi"><i class="fa fa-fw fa-users"></i> {{ 'gruppi' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'scaricati'}" ng-if="user.admin || uploader">
         <a href="#!/canale-scaricati"><i class="fa fa-fw fa-download"></i> {{ 'downloads' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'caricati'}">
         <a href="#!/canale-caricati"><i class="fa fa-fw fa-upload"></i> {{ 'uploads' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'impostazioni'}" ng-if="user.admin">
         <a href="#!/canale-impostazioni"><i class="fa fa-fw fa-cog"></i> {{ 'impostazioni' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'canalerpt1'}" ng-if="user.admin || uploader">
         <a href="#!/canale-mail"><i class="fa fa-fw fa-area-chart"></i> {{ 'rpt_mail' | translate }}</a>
      </li>
   </ul>
</div>

<div class="nav-pills-mobile">
   <select class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="#!/user/{{utente_id}}">{{ 'selezionapg' | translate }}</option>
      <option value="#!/canale-documenti">{{ 'documenti' | translate }}</option>
      <option value="#!/canale-utenti" ng-if="user.admin || uploader">{{ 'utenti_abilitati' | translate }}</option>
      <option value="#!/canale-gruppi" ng-if="user.admin || uploader">{{ 'gruppi' | translate }}</option>
      <option value="#!/canale-scaricati" ng-if="user.admin || uploader">{{ 'downloads' | translate }}</option>
      <option value="#!/canale-caricati">{{ 'uploads' | translate }}</option>
      <option value="#!/canale-impostazioni" ng-if="user.admin">{{ 'impostazioni' | translate }}</option>
      <option value="#!/canale-mail" ng-if="user.admin || uploader">{{ 'rpt_mail' | translate }}</option>
   </select>
</div>

