<div class="col-md-12">
   <div class="pull-right m-t-lg">
      <label class="label label-danger" ng-if="selectedChannel.blocked">
         {{ 'canale_bloccato2' | translate }}
      </label>
   </div>
   <h2>{{selectedChannel.nome}}</h2>
   <a href="#!/home">
      &laquo; {{ 'torna_canali' | translate }}
   </a>
</div>
