<div class="footer">
   <div class="row">
      <div class="col-md-8">
          <div ng-bind-html="company.footer"></div>
      </div>
      <div class="col-md-4 text-right" ng-show="user.admin">
         {{ 'stat_spazio' | translate }}: <strong>{{tot_spazio_occupato | bytes}}</strong>
         <a href="#!/report/canali" title="{{ 'occupato' | translate }}">
            <i class="fa fa-info-circle"></i>
         </a>
      </div>
   </div>  
</div>
