<div class="sidebar-collapse" id="sidebar">
   <ul side-navigation="" class="nav metismenu" id="side-menu">
      <li class="nav-header">
         <a class="p-n profile-element" href="#!/home">
            <div class="c-logo-navbar">
               <img ng-if="company && company.logo_login" ng-src="{{ company.logo_login }}" class="img-responsive p-sm" alt="logo">
            </div>
            <div class="logo-element">
               <a class="p-n text-center" href="#!/home">
                  <div class="c-logo-navbar-small">
                    <i class="fa fa-2x fa-home"></i>
                  </div>
               </a>
            </div>
         </a>
      </li>
      <li id="navcanali" ng-class="{active: $route.current.activenav == 'canali'}">
         <a href="#!/home">
            <i class="fa fa-fw fa-th-large" aria-hidden="true"></i>
            <span class="nav-label">{{ 'canali' | translate }}</span>
         </a>
      </li>
      <li id="navtags" ng-class="{active: $route.current.activenav == 'tags'}">
         <a href="#!/tags">
            <i class="fa fa-fw fa-tags" aria-hidden="true"></i>
            <span class="nav-label">{{ 'rpt_tags' | translate }}</span>
         </a>
      </li>
      <hr style="border-top: 1px solid #666;">
      <li id="navutenti" ng-class="{active: $route.current.activenav == 'users'}" ng-show="user.admin">
         <a href="#!/users">
            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            <span class="nav-label">{{ 'utenti' | translate }}</span>
         </a>
      </li>
      <li id="navreport" ng-class="{active: $route.current.activenav == 'report'}" class="parentItem">
         <a href="">
            <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i>
            <span class="nav-label">Reports</span>
            <span class="fa arrow"></span>
         </a>
         <ul class="nav nav-second-level collapse" ng-class="{in: $route.current.activenav == 'report'}">
            <li ng-class="{active: $route.current.activetab == 'report-sintesi'}" ng-if="user.admin" id="navreportsintesi">
               <a href="#!/report/sintesi">{{ 'rpt_sintesi' | translate }}</a>
            </li>
            <li ng-class="{active: $route.current.activetab == 'report-canali'}" ng-if="user.admin" id="navreportcanali">
               <a href="#!/report/canali">{{ 'rpt_canali' | translate }}</a>
            </li>
            <li ng-class="{active: $route.current.activetab == 'report-mail'}" id="navreportemail">
               <a href="#!/report/mail">{{ 'rpt_mail' | translate }}</a>
            </li>
         </ul>
      </li>
      <li id="navtransfer" ng-if="user && user._id" ng-class="{active: $route.current.activenav == 'transfer'}">
         <a href="#!/transfer">
            <i class="fa fa-fw fa-cloud-upload" aria-hidden="true"></i>
            <span class="nav-label">{{ 'filexfer' | translate }}</span>
         </a>
      </li>
      <li id="navimpostazioni" ng-show="user && user._id" ng-class="{active: $route.current.activenav == 'impostazioni'}" class="parentItem">
         <a href="">
            <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
            <span class="nav-label">{{ 'impostazioni' | translate }}</span>
            <span class="fa arrow"></span>
         </a>
         <ul class="nav nav-second-level collapse" ng-class="{in: $route.current.activenav == 'impostazioni'}">
            <li id="navcambiopwd" ng-class="{active: $route.current.activetab == 'password'}">
               <a href="#!/change_password">{{ 'cambiapwd' | translate }}</a>
            </li>
         </ul>
      </li>
      <hr style="border-top: 1px solid #666;">
      <li id="help" ng-if="user && user._id">
         <a data-toggle="modal" data-target="#openZoom">
            <i class="fa fa-fw fa-question-circle" aria-hidden="true"></i>
            <span class="nav-label">{{ 'chiedi_assistenza' | translate }}</span>
         </a>
      </li>
   </ul>
</div>
