<div class="nav-pills-desktop">
   <ul class="nav nav-pills">
      <li ng-class="{active: $route.current.activetab == 'profilo'}">
         <a href="#!/user/{{utente_id}}"><i class="fa fa-fw fa-user"></i> {{ 'profilo' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'channels'}">
         <a href="#!/user-channels/{{utente_id}}"><i class="fa fa-fw fa-th-large"></i> {{ 'canali' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'download'}">
         <a href="#!/user-download/{{utente_id}}"><i class="fa fa-fw fa-download"></i> {{ 'downloads' | translate }}</a>
      </li>
      <li ng-class="{active: $route.current.activetab == 'upload'}">
         <a href="#!/user-upload/{{utente_id}}"><i class="fa fa-fw fa-upload"></i> {{ 'uploads' | translate }}</a>
      </li>
   </ul>
</div>


<div class="nav-pills-mobile">
   <select class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="#!/user/{{utente_id}}">{{ 'selezionapg' | translate }}</option>
      <option value="#!/user/{{utente_id}}">{{ 'profilo' | translate }}</option>
      <option value="#!/user-channels/{{utente_id}}">{{ 'canali' | translate }}</option>
      <option value="#!/user-download/{{utente_id}}">{{ 'downloads' | translate }}</option>
      <option value="#!/user-upload/{{utente_id}}">{{ 'uploads' | translate }}</option>
   </select>
</div>