<div data-region="userbar">
   <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
         <span minimaliza-sidebar></span>
      </div>
      <ul class="nav navbar-top-links navbar-right animated fadeInRight" ng-if="user">
         <li ng-if="user._id">
            <span class="text-muted">
               <i class="fa fa-user"></i> {{user.nome}}
            </span>
         </li>
         <li ng-if="user._id"><a ng-click="logout()"><i class="fa fa-sign-out"></i>{{ 'logout' | translate }}</a></li>
         <li ng-if="!user._id"><a href="#!/login"><i class="fa fa-sign-in"></i>{{ 'login' | translate }}</a></li>
      </ul>
   </nav>
</div>
