// Brianzacque Custom

$primary: 				#156aab;       // Primary color
$spin-color: 			$primary;
$component-active-bg:   lighten($primary, 3%);

.c-logo {
	background: url("../img/brianzacque/logo-navbar.svg") left top no-repeat;
	background-size: contain;
	height: 100px;
}

.c-logo-login {
	background: url("../img/brianzacque/logo-login.svg") center top no-repeat;
	background-size: contain;
	height: 63px;
}

.c-logo-navbar {
	background: url("../img/brianzacque/logo-navbar-extranet.svg") center top no-repeat;
	background-size: contain;
	height: 90px;
	margin: 15px;
}

.c-logo-navbar-small {
	background: url("../img/brianzacque/logo-navbar-small.svg") center top no-repeat;
	background-size: contain;
	height: 30px;
}

.text-primary {
  color: $primary!important;
}

