.c-overflow {
  overflow-y:scroll; 
  height: 300px; 
  padding: 10px; 
  border: 1px solid #e5e5e5;
}

.hr-line-transparent {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

.c-border-bottom {
  border-bottom: 1px solid #eee;
}

.ibox-content-element {
  border: 1px solid #e7eaec;
  padding: 15px 20px 10px;
  margin-bottom:15px;
  background-color: #fafafb;
  .ibox-label {
    margin-top: 5px;
  }
  .help-block {
    margin-bottom: 0;
  }
  small a {
    color: inherit;
    text-decoration: underline;
  }
  &:hover {
    background-color: #fff;
  }
  @media (max-width: 990px) {
    .progress {
      margin-top: 20px;
    }
  }
}

.ibox-success {
  border-left: 3px solid $blue;
}

.ibox-danger {
  border-left: 3px solid $red;
}

@media (min-width: 768px) {
  .dl-utente-profilo dt {
      width: 70%;
      text-align: left;
      margin-bottom: 10px;
  }
}

.contact-box-header .fa {
  padding: 30px 0 10px;
}

.c-contact-box-invisible {
  color: #b2b2b2;
}

/* dropdown in a table */

.btn-group {  
    white-space: nowrap;              
}
.btn-group .btn {  
    float: none;
    display: inline-block;
}
 .btn + .dropdown-toggle { 
    margin-left: -4px;
}

.table-responsive {
  overflow-x: visible !important;
}

/* pagina documenti */

.c-folder-list .row,
.c-file-list .row {
  padding: 15px 0 7px;
  border-bottom: 1px solid #e5e5e5;
  a.c-folder-list-title,
  a.c-file-list-title {
    font-size: 14px;
    font-weight: 600;
    color: $text-color;
    &:hover {
      color: $primary;
    }
  }
  .c-fa {
    margin-right: 5px;
  }
  @media screen and (min-width: 768px) {
    .c-fa {
       margin-right: 20px;
    }
  }
}

.c-file-list {
  .c-file-list-data,
  .c-file-list-mega {
    text-align: right;
  }
  @media screen and (max-width: 992px) {
    .c-file-list-data,
    .c-file-list-mega {
      text-align: left;
    }
    .c-file-list-data {
      padding-left: 60px;
    }
    .c-file-list-title {
      line-height: 2;
    }
  }
  
  
}
 

