// Pluridoc Custom

$primary: 				#43C0BB;	
$plurimedia:			#005b8a;       
$spin-color: 			$primary;
$component-active-bg:   darken($primary, 5%);

.c-logo {
	background: url("../img/pluridoc/pluridoc_logo_bianco.svg") left top no-repeat;
	background-size: contain;
	height: 80px;
}

.c-logo-login {
	background: url("../img/pluridoc/pluridoc_logo.svg") center top no-repeat;
	background-size: contain;
	height: 70px;
}

.c-logo-navbar {
	background: url("../img/pluridoc/pluridoc_logo_bianco.svg") center top no-repeat;
	background-size: contain;
	height: 60px;
	margin: 15px 0;
}

.c-logo-navbar-small {
	background: url("../img/pluridoc/plurimedia-simbolo.svg") center top no-repeat;
	background-size: contain;
	height: 30px;
}

.text-primary {
  color: $primary!important;
}