<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'cambiapwd' | translate }}</h2>
      </div>
   </div>
   <div class="wrapper wrapper-content animated fadeIn ng-scope">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <div class="ibox">
               <div class="ibox-title text-center">
                  <h3>{{user.nome}}, {{ 'reimposta' | translate }}</h3>
               </div>
               <div class="ibox-content">
                  <div class="row">
                     <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                           <div class="form-group">
                              <label for="old_password">{{ 'currpwd' | translate }}</label>
                              <input id="old_password" type="password" class="form-control" ng-model="old_password" required />
                           </div>
                           <div class="form-group">
                              <label for="password">{{ 'newpwd' | translate }}
                                 <i ng-class="pass_confirm()"></i>
                              </label>
                              <input id="password" type="password" class="form-control" ng-minlength="6" ng-model="password" required />
                              <small class="help-block">{{ 'newpwdrule' | translate }}</small>
                           </div>
                           <div class="form-group">
                              <label>{{ 'newpwd2' | translate }}
                                 <i ng-class="pass_confirm()"></i>
                              </label>
                              <input id="password_confirm" type="password" class="form-control" ng-minlength="6" ng-model="password_confirm" required />
                           </div>
                           <button type="button"
                                   ng-click="scriviPassword()"
                                   ng-disabled="password != password_confirm || !old_password"
                                   class="btn btn-primary m-b pull-right">
                              {{ 'salva' | translate }}
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- banda verde di cambio password avvenuto con successo -->
         <!-- banda rossa se qualcosa è andato storto -->
      </div>
   </div>
</div>
