<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'downloads' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in {{selectedChannel.nome}} </span>
                        </ol>
                     </div>
                  </div>

                  <div class="row m-t-lg">
                     <!-- di deafult mostiamo l'ultimo mese -->
                     <div class="col-md-5 col-lg-4 m-b-md">
                        <label>{{ 'dt_ini' | translate }}</label>
                        <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           <input type="text" class="form-control" data-autoclose="1"  bs-datepicker="" ng-model="ricerca.da">
                        </div>
                     </div>
                     <div class="col-md-5 col-lg-4">
                        <label>{{ 'dt_fin' | translate }}</label>
                        <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           <input type="text" class="form-control" data-autoclose="1"  bs-datepicker="" ng-model="ricerca.a">
                        </div>
                     </div>
                     <div class="col-md-2 col-lg-2">
                        <button class="btn btn-info" style="margin-top: 22px;" ng-click="cerca()">
                           <i class="fa fa-search"></i>
                           {{ 'cerca' | translate }}
                        </button>
                     </div>
                  </div>
                  <div class="row m-t-sm">
                     <div class="col-xs-12">
                        <div class="alert alert-info" ng-show="!items.length && hasSearched">
                           {{ 'nodocsfound' | translate }}
                        </div>

                        <div class="table-responsive table-responsive-card table-responsive-card-{{ 'lang' | translate }} m-t-md" ng-show="items.length && hasSearched">
                           <table class="table table-striped table-bordered table-hover">
                              <thead>
                                 <tr>
                                    <th class="col-md-1">{{ 'data' | translate }}</th>
                                    <th class="col-md-1">{{ 'ora' | translate }}</th>
                                    <th class="col-md-4">{{ 'utente' | translate }}</th>
                                    <th class="col-md-5">File</th>
                                    <th class="col-md-1 text-right">{{ 'dimensione' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr dir-paginate="item in items | itemsPerPage: 10 track by $index" pagination-id="cust">
                                    <td data-colname="Data">{{item.mdate | data}}</td>
                                    <td data-colname="Ora">{{item.mdate | ora}}</td>
                                    <td data-colname="Utente">{{item.user}}</td>
                                    <td data-colname="File">{{item.file}}</td>
                                    <td data-colname="Dimensione" class="text-right text-left-mobile">{{item.bytes | bytes}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>

                  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
