<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'utenti_abilitati' | translate }} </h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in {{selectedChannel.nome}} </span>
                        </ol>
                     </div>
                  </div>

                  <div class="ibox-tools m-b-xs m-t-lg">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <input type="text"
                                     ng-model="search.nome"
                                     placeholder="{{ 'filtra_utenti' | translate }}"
                                     class="form-control"
                                     ng-if="utenti.length">
                              </input>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-xs-12">
                        <div class="m-b-md">
                           <label class="label label-primary" id="counter_utenti">
                              {{ 'num_utenti' | translate }} {{utenti.length}}
                           </label>
                        </div>

                        <div class="table-responsive table-responsive-card table-responsive-card-{{ 'lang' | translate }}">
                           <table class="table table-striped table-bordered table-hover">
                              <thead>
                                 <tr>
                                    <th>{{ 'nome' | translate }}</th>
                                    <th>Email</th>
                                    <th>{{ 'ruolo' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr dir-paginate="utente in utenti | filter:filtraNomeMailAzienda() | itemsPerPage: 20" pagination-id="cust">
                                    <td data-colname="Nome">{{utente.nome}}</td>
                                    <td data-colname="Mail">{{utente.mail}}</td>
                                    <td data-colname="Ruolo">{{utente.ruolo | ruolo}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
