<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12"> 
                        <h2 class="tab-title">{{ 'impostazioni' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in {{selectedChannel.nome}} </span>
                        </ol>
                     </div>
                  </div>

                  <div class="row m-t-lg m-b-md">
                     <div class="col-xs-12">
                        <label class="label label-primary">
                           <i class="fa fa-fw fa-calendar"></i> {{ 'canale_creato' | translate }} {{selectedChannel.cdate}}
                        </label>
                     </div>
                  </div>

                  <div class="row" id="panel_canale">
                     <div class="col-md-6">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              {{ 'dati_canale' | translate }}
                           </div>
                           <form name="bodyForm">
                              <div class="panel-body p-t-xl p-b-sm" ng-class="{'has-error':bodyForm.nuovoNome.$error.maxlength}">
                                 <label>{{ 'nome' | translate }}</label>
                                 <input name="nuovoNome"
                                        type="text"
                                        class="form-control"
                                        ng-model="nuovoNome"
                                        ng-minlength="1"
                                        ng-maxlength="250"
                                        autofocus />
                                 <div class="alert alert-danger" ng-show="bodyForm.nuovoNome.$error.maxlength">
                                    <span translate="maxlength" translate-values="{ num: '250' }"></span>
                                 </div>
                              </div>
                              <div class="panel-body p-b-sm" ng-class="{'has-error':bodyForm.nuovoMittente.$error.maxlength}">
                                 <label>{{ 'mittente_email' | translate }}</label>
                                 <input type="text"
                                        name="nuovoMittente"
                                        class="form-control"
                                        ng-model="nuovoMittente"
                                        ng-minlength="1"
                                        ng-maxlength="255"
                                        placeholder="" />
                              </div>
                              <div class="alert alert-danger" ng-show="bodyForm.nuovoMittente.$error.maxlength">
                                 <span translate="maxlength" translate-values="{ num: '255' }"></span>
                              </div>
                              <div class="panel-body p-b-sm" ng-class="{'has-error':bodyForm.nuovoMessaggio.$error.maxlength}">
                                 <label>{{ 'nuovi_docs_email' | translate }}</label>
                                 <input type="text"
                                        name="nuovoMessaggio"
                                        class="form-control"
                                        ng-model="nuovoMessaggio"
                                        ng-minlength="1"
                                        ng-maxlength="255"
                                        placeholder="" />
                              </div>
                              <div class="alert alert-danger" ng-show="bodyForm.nuovoMessaggio.$error.maxlength">
                                 <span translate="maxlength" translate-values="{ num: '255' }"></span>
                              </div>
                              <div class="panel-body p-t-sm p-b-xl">
                                 <label>{{ 'avviso' | translate }}</label>
                                 <textarea name="nuovoAvviso" class="form-control" ng-model="nuovoAvviso"></textarea>
                              </div>
                              <div class="panel-footer">
                                 <button type="button"
                                         class="btn btn-primary"
                                         ng-click="modifica_canale()"
                                         ng-disabled="bodyForm.nuovoNome.$error.maxlength || nuovoNome.length < 1">
                                    {{ 'salva' | translate }}
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>

                     <!-- contenitore per il canale con stato sbloccato -->
                     <div class="col-md-6" ng-if="!selectedChannel.blocked" id="sbloccato">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              {{ 'stato_canale' | translate }}
                           </div>
                           <div class="panel-body p-t-md">
                              <div class="alert alert-success">
                                 <h4>{{ 'canale_attivo2' | translate | uppercase }}</h4>
                                 {{ 'canale_attivo' | translate }}
                              </div>
                           </div>
                           <div class="panel-footer">
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bloccacanale">
                                 <i class="fa fa-lock"></i> {{ 'blocca' | translate }}
                              </button>
                           </div>
                        </div>
                     </div>
                     <!--  fine contenitore -->

                     <!-- contenitore per il canale con stato bloccato -->
                     <div class="col-md-6" ng-if="selectedChannel.blocked" id="bloccato">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              {{ 'stato_canale' | translate }}
                           </div>
                           <div class="panel-body p-t-md">
                              <div class="alert alert-danger">
                                 <h4>{{ 'canale_bloccato2' | translate | uppercase }}</h4>
                                 {{ 'canale_bloccato' | translate }}
                              </div>
                           </div>
                           <div class="panel-footer">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sbloccacanale">
                                 <i class="fa fa-unlock"></i> {{ 'sblocca' | translate }}
                              </button>
                           </div>
                        </div>
                     </div>
                     <!--  fine contenitore -->
                  </div>
               </div>
               <!--/ibox content-->

               <!-- modale per bloccare un canale -->
               <div class="modal" id="bloccacanale" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                              {{ 'conferma_blocca' | translate }}
                              <em>{{selectedChannel.nome}}</em>?
                           </h4>
                        </div>
                        <div class="modal-body">
                           <div class="alert alert-warning">
                              {{ 'msg_blocca' | translate }}
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-danger" ng-click="block_channel()">
                              <i class="fa fa-lock"></i> {{ 'blocca' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per sbloccare un canale -->
               <div class="modal" id="sbloccacanale" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                              {{ 'conferma_sblocca' | translate }}
                              <em>{{selectedChannel.nome}}</em>?
                           </h4>
                        </div>
                        <div class="modal-body">
                           <div class="alert alert-warning">
                              {{ 'msg_sblocca' | translate }}
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-danger" ng-click="unblock_channel()">
                              <i class="fa fa-unlock"></i> {{ 'sblocca' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
