<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12" ng-if="selectedChannel.avviso">
            <div class="alert alert-info">
               {{selectedChannel.avviso}}
            </div>
         </div>

         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content">
                  <span ng-if="user._id" ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="ibox-content" ng-if="notAuthorized">
                     <div class="alert alert-info">
                        {{ 'non_assoc' | translate }}
                     </div>
                  </div>

                  <div class="row" ng-if="!notAuthorized && !loading">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'documenti' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in</span>
                           <li ng-repeat="briciola in breadcrumb track by $index" ng-class="{'active':$last}">
                              <a href=""
                                 ng-click="selectBreadcrumb(briciola.percorso)"
                                 ng-if="!$last">
                                 {{briciola.nome}}
                              </a>
                              <span ng-if="$last">{{briciola.nome}}</span>
                           </li>
                        </ol>
                     </div>
                  </div>

                  <div class="ibox-tools m-t-sm" ng-if="!loading">
                     <div class="row">
                        <div class="col-md-12 text-right" ng-if="!notAuthorized">
                           <a class="btn btn-sm btn-primary m-b-sm"
                              href=""
                              data-toggle="modal"
                              data-target="#nuovacartella"
                              title="{{ 'nuova_cartella' | translate }}"
                              ng-if="user.ruolo==3"
                              ng-click="newFolder()">
                              <i class="fa fa-fw fa-folder"></i>
                              {{ 'nuova_cartella' | translate }}
                           </a>
                           <a class="btn btn-sm btn-primary m-b-sm"
                              href="#!/canale-upload"
                              ng-if="user.ruolo>1"
                              title="{{ 'carica' | translate }}">
                              <i class="fa fa-fw fa-upload"></i>
                              {{ 'carica' | translate }}
                           </a>
                        </div>
                     </div>
                     <div class="row m-t-md">
                        <div class="col-md-4 text-left" ng-if="!notAuthorized && uploader && deleted_files && deleted_files.length">
                           <label class="m-r-xl text-normal">
                              <input type="checkbox"
                                     class="js-switch_3"
                                     ng-change="toggleDocs()"
                                     ng-model="ctrl.showdeleted">
                              </input>
                              {{ 'mostra_eliminati' | translate }}
                           </label>
                        </div>
                        <div class="col-md-4 text-left" ng-if="notAuthorized || !uploader || !files.length"></div>
                        <div class="col-md-4 text-left" ng-if="files.length>1">
                           <label class="m-r-xl text-normal">
                              <input type="checkbox"
                                     class="js-switch_3"
                                     ng-model="user.orderbydate"
                                     ng-change="recuperaDocs()">
                              </input>
                              {{ 'ordina_data' | translate }}
                           </label>
                        </div>
                        <div class="col-md-3 text-left" ng-if="files.length<2"></div>
                     </div>
                  </div>

                  <div class="m-t-sm" ng-if="!notAuthorized && !loading && subfolders.length">
                     <!-- contenitore per le cartelle -->
                     <div class="c-folder-list">
                        <div class="row" ng-repeat="cartella in subfolders track by $index">
                           <div class="col-xs-10">
                              <a class="c-folder-list-title" href="" ng-click="selectFolder()">
                                 <i class="fa fa-lg fa-fw fa-folder text-grey c-fa"></i>
                                 {{cartella.nome}}
                                 <label class="label label-warning" ng-if="cartella.new_docs">Nuovi documenti</label>
                              </a>
                           </div>
                           <div class="col-xs-2">
                              <div class="btn-group pull-right">
                                 <button data-toggle="dropdown"
                                       class="btn btn-xs btn-default dropdown-toggle"
                                       aria-expanded="false"
                                       ng-if="user.ruolo==3">
                                    <i class="fa fa-cog"></i>
                                 </button>
                                 <ul class="dropdown-menu">
                                    <li>
                                       <a href="" data-toggle="modal" data-target="#rinominacartella" ng-click="carica_cartella()">
                                          <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
                                          {{ 'rinomina_cartella' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" data-target="#spostacartella" ng-if="allFolders.length > 2" ng-click="sposta_folder()">
                                          <i class="fa fa-fw fa-arrows" aria-hidden="true"></i>
                                          {{ 'sposta_cartella' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" data-toggle="modal" data-target="#associautenti" ng-click="open_associa()">
                                          <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                                          {{ 'associa_utenti' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" data-toggle="modal" data-target="#eliminacartella" ng-click="carica_cartella()">
                                          <span class="text-danger">
                                             <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                             {{ 'elimina' | translate }}
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a title="{{ 'copia_url' | translate }}" ng-click="copyUrlFolder()">
                                          <i class="fa fa-fw fa-copy" aria-hidden="true"></i>
                                          {{ 'copia_url' | translate }}
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="m-t-xxl m-b-xl" ng-if="!notAuthorized && !loading && files.length">
                     <div class="ibox-tools">
                        <div class="row m-b-sm">
                           <div class="col-xs-12 col-sm-6 col-md-6 text-left m-b-sm">
                             <label class="text-normal m-r-md" ng-if="user.ruolo==3 && files.length>0">
                                 <ui-select-all items="files" prop="selected"></ui-select-all>
                                 <span class="m-l-sm">{{ 'seleziona_tutti' | translate }}</span>
                              </label>
                              <label class="label label-default m-b-md" ng-if="user.ruolo==3 && filesSelected()">
                                 {{ 'sel_docs' | translate }} {{filesSelected()}}
                              </label>
                           </div>
                           <div class="col-xs-12 col-sm-6 col-md-6" ng-if="user.ruolo==3 && filesSelected()">
                              <div class="btn-group pull-right m-l-md" ng-if="!ctrl.showdeleted">
                                 <button class="btn btn-xs" href=""
                                         data-toggle="modal"
                                         data-target="#permessifile"
                                         ng-click="open_assegna_selected()">
                                    <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                                    {{ 'ges_perm' | translate }}
                                 </button>
                                 <button class="btn btn-xs text-danger"
                                         mwl-confirm
                                         title="{{ 'elimina_doc' | translate }}"
                                         message="{{ 'ripristina_doc' | translate }}"
                                         confirm-text="{{ 'elimina' | translate }}"
                                         cancel-text="{{ 'annulla' | translate }}"
                                         placement="left"
                                         animation="true"
                                         on-confirm="remove_selected()"
                                         confirm-button-type="danger"
                                         cancel-button-type="default">
                                    <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                    {{ 'elimina' | translate }}
                                 </button>
                              </div>
                              <div class="btn-group pull-right m-l-md" ng-if="ctrl.showdeleted">
                                 <button class="btn btn-xs" ng-click="restore_selected()">
                                    <i class="fa fa-fw fa-undo" aria-hidden="true"></i>
                                    {{ 'ripristina' | translate }}
                                 </button>
                                 <button class="btn btn-xs text-danger"
                                         mwl-confirm
                                         title="{{ 'elimina_doc' | translate }}"
                                         message="Questa azione è irreversibile: i files non potranno essere recuperati."
                                         confirm-text="{{ 'elimina' | translate }}"
                                         cancel-text="{{ 'annulla' | translate }}"
                                         placement="left"
                                         animation="true"
                                         on-confirm="remove_selected()"
                                         confirm-button-type="danger"
                                         cancel-button-type="default">
                                    <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                    Elimina definitivamente
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- contenitore per i file -->

                     <!-- icona contestuale all'estensione del file come negli esempi.
                        Per tutti i file diversi da pdf, zip, jpg+gif+png+tiff, doc+docx, xls+xlsx, ppt+pptx,
                        mettere quella generica file-text-o -->

                     <div class="c-file-list" ng-if="files">
                        <!-- file -->
                        <div class="row"
                           ng-repeat="file in files"
                           ng-class="{'bg-danger':file.deleted_flg==='Y', 'bg-info':file.selected}">
                           <div class="col-xs-12 col-md-9">
                              <label class="pull-left m-r-md" ng-if="user.ruolo==3">
                                 <i ng-if="!file.selected" class="fa fa-square-o" ng-click="file.selected=true"></i>
                                 <i ng-if="file.selected" class="fa fa-check-square-o" ng-click="file.selected=false"></i>
                              </label>
                              <div>
                                 <div class="c-file-icon">
                                    <i class="fa fa-lg fa-fw fa-file text-grey c-fa"></i>
                                 </div>
                                 <div class="c-file-info">
                                    <a class="c-file-list-title" target="_blank" href="/rest/docs/download/{{file._id}}/{{file.canale_id}}/N/Y">
                                       {{file.name_orig}}
                                       <label class="label label-warning" ng-if="file.isNew">Nuovo documento</label>
                                    </a>
                                    <div class="c-file-list-descrizione m-b-sm">
                                       {{file.descrizione}}
                                       <span ng-if="file.scadenza_d">Scadenza: {{file.scadenza_d}}</span>
                                    </div>
                                    <div class="c-file-list-descrizione m-b-sm" ng-if="file.tags && file.tags.length">
                                      <span ng-repeat="t in file.tags track by $index" class="c-file-list-etichette label label-info m-r-xs">
                                        {{t}}
                                      </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xs-4 col-md-1 c-file-list-data">
                              <small>{{file.mdate | data}}</small>
                           </div>
                           <div class="col-xs-4 col-md-1 c-file-list-mega">
                              <small>{{file.size | bytes}}</small>
                           </div>
                           <div class="col-xs-4 col-md-1">
                              <div class="btn-group pull-right">
                                 <button data-toggle="dropdown"
                                         class="btn btn-xs btn-default dropdown-toggle"
                                         aria-expanded="false"
                                         ng-if="!file.selected">
                                    <i class="fa fa-cog"></i>
                                 </button>
                                 <ul class="dropdown-menu">
                                    <li>
                                       <a title="{{ 'scarica' | translate }}"
                                          target="_blank"
                                          href="/rest/docs/download/{{file._id}}/{{file.canale_id}}/Y/Y">
                                          <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                          {{ 'scarica' | translate }}
                                       </a>
                                    </li>
                                    <li ng-if="file.name_compressed">
                                       <a title="{{ 'scarica_non_compresso' | translate }}"
                                          target="_blank"
                                          href="/rest/docs/download/{{file._id}}/{{file.canale_id}}/Y/N">
                                          <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                          {{ 'scarica_non_compresso' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a title="{{ 'copia_url' | translate }}"
                                          ng-click="copyUrl(file._id, file.canale_id)">
                                          <i class="fa fa-fw fa-copy" aria-hidden="true"></i>
                                          {{ 'copia_url' | translate }}
                                       </a>
                                    </li>
                                    <li ng-if="!selectedChannel.pubblico">
                                       <a href=""
                                          data-toggle="modal"
                                          ng-show="user.ruolo==3"
                                          ng-click="open_assegna(file)">
                                          <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                                          {{ 'ges_perm' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a href=""
                                          data-toggle="modal"
                                          ng-click="open_rename(file)"
                                          ng-show="user.ruolo==3">
                                          <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
                                          {{ 'rinomina_doc' | translate }}
                                       </a>
                                    </li>
                                    
                                    <li>
                                       <a href=""
                                          data-toggle="modal"
                                          ng-click="open_scadenza(file)"
                                          ng-show="user.ruolo==3">
                                          <span>
                                             <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
                                             Cambia data scadenza
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href=""
                                          data-toggle="modal"
                                          ng-show="file.deleted_flg==='Y' && user.ruolo==3"
                                          ng-click="open_restore(file)">
                                          <span class="text-danger">
                                             <i class="fa fa-fw fa-undo" aria-hidden="true"></i>
                                             {{ 'ripristina' | translate }}
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href=""
                                          data-toggle="modal"
                                          ng-click="openMeta(file)"
                                          ng-show="file.deleted_flg!=='Y' && user.ruolo>1">
                                          <i class="fa fa-fw fa-expand"></i>
                                          {{ 'doc_details' | translate }}
                                       </a>
                                    </li>
                                    <li>
                                       <a href=""
                                          data-toggle="modal"
                                          ng-click="open_remove(file)"
                                          ng-show="user.ruolo==3">
                                          <span class="text-danger">
                                             <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                                             {{ 'elimina' | translate }}
                                          </span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <!-- /file -->
                     </div>
                     <!-- fine contenitore file -->
                  </div>
               </div>
               <!--/ibox content-->

               <!-- modale per creare una nuova cartella-->
               <div class="modal" id="nuovacartella" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated slideInDown">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'crea_cartella' | translate }}</h4>
                           <small class="font-bold">
                              in {{!selectedFolder.padre ? selectedChannel.nome : selectedFolder.percorso}}
                           </small>
                        </div>
                        <div class="modal-body" ng-class="{'has-error':modalNew.nuovaCartella.$error.maxlength || nomeEsistente}">
                           <form name="modalNew">
                              <div class="form-group">
                                 <label>{{ 'nome' | translate }}</label>
                                 <input type="text"
                                        class="form-control"
                                        ng-model="nuovaCartella"
                                        name="nuovaCartella"
                                        ng-minlength="1"
                                        ng-maxlength="200"
                                        placeholder=""
                                        autofocus />
                                 <small class="help-block">
                                    {{ 'caratteri' | translate }} <strong>' , " /</strong> {{ 'sostituiti' | translate }} <strong>-</strong> .<br>
                                    <span translate="maxlength" translate-values="{ num: '200' }"></span>
                                 </small>
                              </div>
                              <div class="alert alert-danger" ng-show="modalNew.nuovaCartella.$error.maxlength">
                                 <span translate="maxlength" translate-values="{ num: '200' }"></span>
                              </div>
                              <div class="alert alert-danger" ng-show="nomeEsistente">
                                 {{ 'nomeduplicato' | translate }}
                              </div>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">
                             {{ 'annulla' | translate }}
                           </button>
                           <button type="button"
                                   ng-click="creaCartella(0)"
                                   ng-disabled="modalNew.nuovaCartella.$error.maxlength"
                                   class="btn btn-primary">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per rinominare la cartella-->
               <div class="modal" id="rinominacartella" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                             {{ 'rinomina_cartella' | translate }} <em>{{cartella.nome}}</em>
                           </h4>
                        </div>
                        <div class="modal-body" ng-class="{'has-error':modalForm.nuovaCartella.$error.maxlength || nomeEsistente}">
                           <form name="modalForm">
                              <div class="form-group">
                                 <label>{{ 'nome' | translate }}</label>
                                 <input type="text"
                                        class="form-control"
                                        ng-model="cartella.newname"
                                        name="nuovaCartella"
                                        ng-minlength="1"
                                        ng-maxlength="200"
                                        id="folder"
                                        placeholder=""
                                        autofocus />
                                 <small class="help-block">
                                    {{ 'caratteri' | translate }} <strong>' , " /</strong> {{ 'sostituiti' | translate }} <strong>-</strong> .<br>
                                    <span translate="maxlength" translate-values="{ num: '200' }"></span>
                                 </small>
                              </div>
                              <div class="alert alert-danger" ng-show="modalForm.nuovaCartella.$error.maxlength">
                                 <span translate="maxlength" translate-values="{ num: '200' }"></span>
                              </div>
                              <div class="alert alert-danger" ng-show="nomeEsistente">
                                 {{ 'nomeduplicato' | translate }}
                              </div>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button"
                                   class="btn btn-primary"
                                   ng-click="rinomina_cartella()"
                                   ng-disabled="modalForm.nuovaCartella.$error.maxlength">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per spostare la cartella-->
               <div class="modal" id="spostacartella" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                             {{ 'sposta_cartella' | translate }} <em>{{da_spostare_nome}}</em>
                           </h4>
                        </div>
                        <div class="modal-body">
                           <div class="alert alert-info">
                              <p class="font-bold">{{ 'scegli_cartella' | translate }}</p>
                           </div>
                           <div tree-view="foldersTree" tree-view-options="treeOptions"></div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per eliminare la cartella-->
               <!-- al momento questa funzionalità è finta, non posso mai cancellare una cartella perché non posso cancellare davvero i file -->
               <div class="modal" id="eliminacartella" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                             {{ 'elimina_cartella' | translate }} <em>{{cartella.nome}}</em>?
                           </h4>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">
                             {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-danger" ng-click="remove_folder()">
                             {{ 'elimina' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per rinominare un file -->
               <div class="modal" id="rinominafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'rinomina_doc' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                           <input type="text"
                                  class="form-control"
                                  ng-model="doc.name_new"
                                  placeholder="{{ 'nuovo_nome' | translate }}">
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">
                             {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-danger" ng-click="rename()">
                             {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per eliminare un file -->
               <div class="modal" id="eliminafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                             {{ 'elimina_doc' | translate }} <em>{{doc.name_orig}}</em>?
                           </h4>
                        </div>
                        <div class="modal-body">
                           <div class="alert alert-warning" ng-if="doc.deleted_flg!=='Y'">
                              {{ 'ripristina_doc' | translate }}
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">
                              {{ 'annulla' | translate }}
                           </button>
                           <button type="button"
                                   class="btn btn-danger"
                                   ng-click="remove()"
                                   ng-if="doc.deleted_flg!=='Y'">
                              {{ 'elimina' | translate }}
                           </button>
                           <button type="button"
                                   class="btn btn-danger"
                                   ng-click="remove_s3(doc, 1)"
                                   ng-if="doc.deleted_flg==='Y'">
                              Elimina definitivamente
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per ripristinare un file -->
               <div class="modal" id="ripristinafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                             {{ 'recupera_doc' | translate }} <em>{{doc.name_orig}}</em>?
                           </h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">
                             {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-danger" ng-click="restore()">
                             {{ 'ripristina' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per gestione permessi -->
               <div class="modal" id="permessifile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'ges_perm' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="alert alert-danger" ng-if="!doc">
                              {{ 'msg_perm' | translate }}
                           </div>
                           <!-- da visualizzare solo in caso di assegnazione di più file selezionati -->

                           <input type="text"
                                  ng-model="search.nome"
                                  placeholder="{{ 'filtra_utenti' | translate }}"
                                  class="form-control"
                                  ng-if="users && users.length">
                           </input>
                           <!-- autocomplete sugli utenti abilitati al canale -->
                           <div class="table-responsive c-overflow m-t-md">
                              <table class="table table-striper">
                                 <thead>
                                    <tr>
                                       <th>{{ 'nome' | translate }}</th>
                                       <th>{{ 'abilita' | translate }}</th>
                                       <th>{{ 'invia_mail' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr dir-paginate="user in users | filter:filtraUtenti() | itemsPerPage: 20" pagination-id="cust">
                                       <td>{{user.nome}}</td>
                                       <td>
                                          <input type="checkbox"
                                                 ng-model="user.enabled"
                                                 ng-checked="canView(user.utente_id)"
                                                 ng-click="user.enabled_mail = user.enabled">
                                          </input>
                                       </td>
                                       <td>
                                          <input type="checkbox" ng-disabled="!user.enabled" ng-model="user.enabled_mail"></input>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
                           <div class="text-right m-t-md">
                              <label class="label label-primary">
                                 Utenti selezionati: {{utenti_selezionati()}} di {{users.length}}
                              </label>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="dismetti()">
                             {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-primary" ng-click="assegna()" ng-disabled="assegno">
                             {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per associazione utenti a cartella -->
               <div class="modal" id="associautenti" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">
                              {{ 'associa_utenti' | translate }}
                              <em>{{cartella.nome}}</em>
                           </h4>
                        </div>
                        <div class="modal-body">
                           <input type="text"
                                  ng-model="search.nome"
                                  placeholder="{{ 'filtra_utenti' | translate }}"
                                  class="form-control"
                                  ng-if="users && users.length">
                           </input>
                           <!-- autocomplete sugli utenti abilitati al canale -->
                           <div class="table-responsive c-overflow m-t-md">
                              <table class="table table-striper">
                                 <thead>
                                    <tr>
                                       <th>{{ 'nome' | translate }}</th>
                                       <th>{{ 'abilita' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr dir-paginate="user in users | filter:filtraUtenti() | itemsPerPage: 20" pagination-id="cust">
                                       <td>{{user.nome}}</td>
                                       <td>
                                          <input type="checkbox"
                                                 ng-model="user.enabled"
                                                 ng-checked="checkUser(user.utente_id)">
                                          </input>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
                           <div class="text-right m-t-md">
                              <label class="label label-primary">
                                 Utenti selezionati: {{utenti_selezionati()}} di {{users.length}}
                              </label>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="dismettiAssocia()">
                              {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-primary" ng-click="associa()" ng-disabled="associo">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per gestire descrizione e tags di un file -->
               <div class="modal" id="metafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'doc_details' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                            <div class="col-md-12">
                               <label>{{ 'descrizione' | translate }}
                                  <textarea cols="60"
                                            class="form-control"
                                            ng-model="doc.descrizione"
                                            placeholder="{{ 'descrizione' | translate }}">
                                  </textarea>
                                </label>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label>Tags <i class="fa fa-tag"></i>
                                   <tags-input class="ti-input-sm etichette-tag" 
                                               ng-model="doc.tags" 
                                               use-strings="true"
                                               min-length="3"
                                               max-length="30"
                                               placeholder="es: fattura, bando" 
                                               replace-spaces-with-dashes="false">
                                      <auto-complete source="cercaTag($query)"></auto-complete>
                                   </tags-input>
                                </label>
                                <small class="help-block">
                                   {{ 'tags_msg1' | translate }}
                                   <br />
                                   {{ 'tags_msg2' | translate }}
                                </small>
                            </div>
                           </div>
                         </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="dismettiMeta()">
                              {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-primary" ng-click="saveMeta()" ng-disabled="associo">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per gestire la scadenza di un file -->
               <div class="modal" id="scadenzafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">Modifica scadenza</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <label class="control-label">Data Scadenza</label>
                                 <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input style="max-width: 200px;" type="text" data-autoclose="1" bs-datepicker="" ng-model="doc.scadenza" class="form-control">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="dismettiScadenza()">
                              {{ 'annulla' | translate }}
                           </button>
                           <button type="button" class="btn btn-primary" ng-click="saveScadenza()" ng-disabled="associo">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
