<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'carica' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in</span>
                           <li ng-repeat="briciola in breadcrumb track by $index" ng-class="{'active':$last}">
                              <a href="" ng-click="selectBreadcrumb(briciola.percorso)" ng-if="!$last">
                                 {{briciola.nome}}
                              </a>
                              <strong ng-if="$last">{{briciola.nome}}</strong>
                           </li>
                        </ol>
                     </div>
                  </div>

                  <div class="row m-t-lg">
                     <div class="col-md-7">
                        <div class="panel panel-default">
                           <div class="panel-heading">{{ 'carica' | translate }}</div>
                           <div class="panel-body">
                              <div>
                                 <p class="p-md m-b-sm bg-warning m-b-none text-center"
                                    ng-model="files"
                                    ngf-select="uploadFiles($files)"
                                    ngf-drop="uploadFiles($files)"
                                    ngf-drag-over-class="{accept:'panel-warning', reject:''}"
                                    ngf-multiple="true"
                                    ngf-allow-dir="false">
                                    {{ 'trascina' | translate }}<br />
                                    <em>{{ 'o' | translate }}</em><br />
                                    {{ 'clicca' | translate }}
                                 </p>
                              </div>
                              <div>
                                 <div class="m-t-md table-responsive-card-upload">
                                    <table class="table">
                                       <tr ng-repeat="file in docs">
                                          <td class="col-md-5">
                                             {{file.name}}</td>
                                          <td class="col-md-3">
                                             <div class="progress">
                                                <div class="progress-bar"
                                                     ng-class="{'active progress-bar-striped' :file.progress<100 , 'progress-bar-success' : file.progress===100}"
                                                     role="progressbar"
                                                     aria-valuenow="{{file.progress}}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width: {{file.progress}}%">
                                                   <span ng-show="file.progress===100">
                                                      <i class="fa fa-check"></i> {{ 'caricato' | translate }}!
                                                   </span>
                                                </div>
                                             </div>
                                          </td>
                                          <td class="text-right col-md-2">{{file.size | bytes}}</td>
                                          <td class="text-right col-md-2">
                                             <a href=""
                                                ng-hide="file.uploading"
                                                ng-click="openMeta(file)"
                                                class="btn btn-primary btn-xs"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{ 'doc_details' | translate }}">
                                                <i class="fa fa-expand"></i>
                                             </a>
                                             <a href=""
                                                ng-hide="file.uploading"
                                                ng-click="rimuoviDoc(file)"
                                                class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash"></i>
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </div>
                                 <small ng-if="docs.length">
                                    <a class="text-danger" href="" ng-click="rimuoviDocs()">
                                       <i class="fa fa-trash"></i> {{ 'rimuovi_tutti' | translate }}
                                    </a>
                                 </small>
                                 <div ng-if="docs.length" style="margin-top: 30px; padding: 15px; background: #d9edf7;">
                                    <strong>Data Scadenza</strong><br>
                                    Selezionando una data di scadenza, i file non saranno più visibili dopo tale data
                                    <div class="input-group date m-t-sm" >
                                       <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                       <input style="max-width: 200px;" type="text" data-autoclose="1" bs-datepicker="" ng-model="opts.scadenza" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="row m-t-xl btn-for-desktop">
                           <div class="col-md-12 text-right">
                              <a class="btn btn-default" href="#!/canale-documenti">{{ 'annulla' | translate }}</a>
                              <button type="button" class="btn btn-primary" ng-show="docs.length" ng-click="invia()" ng-disabled="inviando">
                                 <span ng-hide="inviando">{{ 'salva' | translate }}</span>
                                 <span ng-show="inviando">{{ 'caricando' | translate }}</span>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="panel panel-default" ng-show="users.length">
                           <div class="panel-heading">
                              {{ 'sel_utenti' | translate }}<br />
                              <small>{{ 'sel_utenti3' | translate }}</small>
                           </div>
                           <div class="panel-body">
                              <div class="row">
                                 <div class="col-xs-12">
                                    <label class="label label-primary pull-right">
                                       {{ 'sel_utenti2' | translate }} {{utenti_selezionati()}} {{ 'di' | translate }} {{users.length}}
                                    </label>
                                    <!-- nel momento in cui seleziono gli utenti abilitati sono 0 la label invece che label-primary diventa label-warning -->
                                 </div>
                              </div>
                              <div class="m-t-sm">
                                 <label ng-hide="users.length===1">
                                    <ui-select-all items="users" prop="enabled" ng-click="selectAll()"></ui-select-all>
                                    {{ 'seleziona_tutti' | translate }}
                                 </label>
                                 <label class="m-l-md" ng-hide="users.length===1">
                                    <ui-select-all items="users" prop="enabled" ng-click="selectAll(true)"></ui-select-all>
                                    Seleziona tutti (senza mail)
                                 </label>
                              </div>

                              <div class="table-responsive c-overflow m-t-sm">
                                 <table class="table table-striper">
                                    <thead>
                                       <tr>
                                          <th>{{ 'nome' | translate }}</th>
                                          <th>{{ 'abilita' | translate }}</th>
                                          <th>{{ 'invia_mail' | translate }}</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="user in users">
                                          <td>{{user.nome}}</td>
                                          <td>
                                             <input type="checkbox" ng-model="user.enabled" ng-click="user.enabled_mail=!user.enabled" />
                                          </td>
                                          <td>
                                             <input type="checkbox" ng-model="user.enabled_mail" ng-disabled="!user.enabled" />
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>

                        <!-- Se non sono stati impostati gruppi per il canale questo blocco non sarà visualizzato -->
                        <div class="panel panel-default" ng-show="groups.length">
                           <div class="panel-heading">
                              {{ 'gruppi' | translate }}<br />
                              <small>{{ 'sel_gruppi' | translate }}</small>
                           </div>
                           <div class="panel-body">
                              <div class="table-responsive m-t-sm">
                                 <table class="table table-striper">
                                    <thead>
                                       <tr>
                                          <th>{{ 'nome' | translate }}</th>
                                          <th>{{ 'abilita' | translate }}</th>
                                          <th>{{ 'abilita_nomail' | translate }}</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="group in groups">
                                          <td>
                                             {{group.nome}}
                                             <a tabindex="0"
                                                role="button"
                                                bs-popover
                                                data-trigger="hover"
                                                data-placement="top-right"
                                                title="{{ 'membri_gruppo' | translate }}"
                                                data-content="{{getNames(group.utenti)}}">
                                                <i class="fa fa-info-circle"></i>
                                             </a>
                                          </td>
                                          <td>
                                             <input type="checkbox" ng-change="grpClick(group, 1)" ng-model="group.enabled" />
                                          </td>
                                          <td>
                                             <input type="checkbox" ng-change="grpClickNoMail(group)" ng-model="group.enabled2" />
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="row m-t-xl btn-for-mobile">
                           <div class="col-md-12 text-right">
                              <a class="btn btn-default" href="#!/canale-documenti">{{ 'annulla' | translate }}</a>
                              <button type="button" class="btn btn-primary" ng-show="docs.length" ng-click="invia()" ng-disabled="inviando">
                                 <span ng-hide="inviando">{{ 'salva' | translate }}</span>
                                 <span ng-show="inviando">{{ 'caricando' | translate }}</span>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- modale per gestire descrizione e tags di un file -->
               <div class="modal" id="metafile" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'doc_details' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                           <div class="col-md-12">
                              <label>{{ 'descrizione' | translate }}
                                 <textarea cols="60"
                                           class="form-control"
                                           ng-model="doc.descrizione"
                                           placeholder="{{ 'descrizione' | translate }}">
                                 </textarea>
                               </label>
                           </div>
                           <div class="col-md-12 mt-2">
                               <label>Tags <i class="fa fa-tag"></i>
                                  <tags-input class="ti-input-sm etichette-tag" 
                                              ng-model="doc.tags" 
                                              use-strings="true"
                                              min-length="3"
                                              max-length="30"
                                              placeholder="es: fattura, bando" 
                                              replace-spaces-with-dashes="false">
                                     <auto-complete source="cercaTag($query)"></auto-complete>
                                  </tags-input>
                               </label>
                               <small class="help-block">
                                 {{ 'tags_msg1' | translate }}
                                 <br />
                                 {{ 'tags_msg2' | translate }}
                               </small>
                           </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
