<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12"> 
                        <h2 class="tab-title">{{ 'rpt_mail' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in {{selectedChannel.nome}} </span>
                        </ol>
                     </div>
                  </div>

                  <div class="alert alert-info m-b-xs m-t-xl" ng-show="loading">
                     {{ 'loading' | translate }}
                  </div>
                  <!-- Facciamo visualizzare 20 risultati in ordine decrescente di data e ora -->
                  <div class="row m-b-xs m-t-xl" ng-hide="loading">
                     <div class="col-xs-12">
                        <div class="table-responsive table-responsive-card table-responsive-card-{{ 'lang' | translate }}">
                           <table class="table table-striped table-bordered table-hover">
                              <thead>
                                 <tr>
                                    <th>{{ 'tipo' | translate }}</th>
                                    <th>Uploader</th>
                                    <th>{{ 'data' | translate }}</th>
                                    <th>{{ 'ora' | translate }}</th>
                                    <th class="col-sm-2 text-center">{{ 'mail_dtl' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr dir-paginate="invio in invii | filter:search:strict | itemsPerPage: 20" pagination-id="cust">
                                    <td data-colname="Tipologia">{{invio.tipo | translate}}</td>
                                    <td data-colname="Uploader">{{invio.utente}}</td>
                                    <td data-colname="Data">{{invio.cdate | data}}</td>
                                    <td data-colname="Ora">{{invio.cdate | ora}}</td>
                                    <td data-colname="Dettaglio" class="text-center text-left-mobile">
                                       <a data-toggle="modal" data-target="#reportaemailinfo" href="" class="btn btn-xs btn-default" ng-click="getInvio(invio)">
                                          <i class="fa fa-eye"></i> vedi dettaglio
                                       </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
               </div>
               <!--/ibox content-->

               <!-- modale maggiori info -->
               <div class="modal" id="reportaemailinfo" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <h4 class="modal-title">{{ 'data_invio' | translate }} {{invio.cdate | data}} {{invio.cdate | ora}}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="text-right m-b-md">
                              <label class="label label-primary">{{ 'stat_dest' | translate }}: {{invio.mails.length}}</label>
                           </div>
                           <div class="table-responsive c-overflow">
                              <table class="table table-striped table-hover">
                                 <thead>
                                    <tr>
                                       <th>{{ 'destinatario' | translate }}</th>
                                       <th>{{ 'stato' | translate }}</th>
                                       <th>{{ 'aperta' | translate }}</th>
                                       <th>{{ 'clicks' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="mail in invio.mails">
                                       <td>{{mail.nome}}</td>
                                       <td>{{mail.stato.state}}</td>
                                       <td>{{mail.stato.opens}}</td>
                                       <td>{{mail.stato.clicks}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
