<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/docs_header.html'"></div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/docs_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'gruppi' | translate }}</h2>
                        <ol class="breadcrumb">
                           <span class="breadcrumb-in">in {{selectedChannel.nome}} </span>
                        </ol>
                     </div>
                  </div>

                  <div class="ibox-tools m-b-md m-t-md">
                     <a class="btn btn-sm btn-primary"
                        href=""
                        data-target="#creagruppo"
                        title="{{ 'crea_gruppo' | translate }}"
                        ng-click="modifica_gruppo({visibile:1})">
                        <i class="fa fa-fw fa-users"></i> {{ 'nuovo_gruppo' | translate }}
                     </a>
                  </div>

                  <!-- alert da visualizzare solo se all'interno non ci sono gruppi di utenti -->
                  <div class="alert alert-info" ng-if="!gruppi.length || gruppi.length < 1">
                     {{ 'nessun_gruppo' | translate }}
                  </div>
                  <!-- /alert -->

                  <div class="row">
                     <!-- gruppo utenti -->
                     <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="gruppo in gruppi track by $index">
                        <div class="contact-box center-version text-center">
                           <div class="contact-box-header" ng-class="{'c-contact-box-invisible' : !gruppo.visibile}">
                              <i class="fa fa-3x fa-users"></i>
                              <h3 class="m-b-lg"><strong>{{gruppo.nome}}</strong></h3>
                           </div>
                           <div class="contact-box-footer">
                              <div class="m-t-xs btn-group">
                                 <a class="btn btn-sm btn-white" data-toggle="modal" ng-disabled="loading" ng-click="modifica_gruppo(gruppo)">
                                    <i class="fa fa-pencil"></i> {{ 'modifica' | translate }}
                                 </a>
                                 <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminagruppo" ng-disabled="loading" ng-click="carica_gruppo(gruppo)">
                                    <i class="fa fa-trash"></i> {{ 'elimina' | translate }}
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- se la visibilità è impostata su SI aggiungo a .contact-box-header la classe .c-contact-box-invisible per rendere l'icone e il testo grigio chiaro -->
                     </div>
                     <!-- / gruppo utenti -->
                  </div>
               </div>
               <!--/ibox content-->

               <!-- modale per nuovo gruppo -->
               <div class="modal" id="creagruppo" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <h4 ng-hide="gruppo.gruppo_id" class="modal-title">{{ 'crea_gruppo' | translate }}</h4>
                           <h4 ng-if="gruppo.gruppo_id" class="modal-title">{{ 'modifica_gruppo' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="form-group m-b-lg">
                              <label>{{ 'nome' | translate }}</label>
                              <input type="text" class="form-control" ng-model="gruppo.nome">
                           </div>

                           <label>{{ 'sel_utenti' | translate }}</label>
                           <input type="text" class="form-control" placeholder="{{ 'filtra_utenti' | translate }}" ng-model="search.nome">
                           <!-- filtro sulla tabella degli utenti -->

                           <div class="table-responsive c-overflow m-t-md">
                              <table class="table table-striper" ng-show="users.length">
                                 <thead>
                                    <tr>
                                       <th>{{ 'nome' | translate }}</th>
                                       <th>{{ 'abilita' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="user in users | filter:search:strict">
                                       <td>{{user.nome}}</td>
                                       <td>
                                          <input type="checkbox" ng-model="user.enabled">
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="text-right m-t-md">
                              <label class="label label-warning"> {{ 'sel_utenti2' | translate }} {{selezionati()}} {{ 'di' | translate }} {{users.length}}</label>
                              <!-- nel momento in cui seleziono gli utenti sono 1 o maggiori di 1 la label invece che label-warning diventa label-primary -->
                           </div>
                        </div>
                        <div class="modal-footer">
                           <label class="p-w-xs pull-left">
                              <input type="checkbox" ng-model="gruppo.visibile"> {{ 'visibile' | translate }}
                           </label>
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button"
                                   ng-click="scriviGruppo()"
                                   class="btn btn-primary"
                                   ng-disabled="selezionati()==0 || !gruppo.nome">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale per eliminare un gruppo -->
               <div class="modal" id="eliminagruppo" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <h4 class="modal-title">
                              {{ 'elimina_gruppo' | translate }} <em>{{gruppo.nome}}</em>?
                           </h4>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-danger" ng-click="elimina_gruppo(gruppo)">{{ 'elimina' | translate }}</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
