<div data-region="content">
   <div class="row">
      <div class="col-xs-12">
         <div class="ibox float-e-margins">
            <div class="ibox-title ">
               <div class="ibox-tools" ng-show="user.admin">
                  <a class="btn btn-sm btn-primary"
                     href=""
                     data-toggle="modal"
                     data-target="#nuovocanale"
                     title="{{ 'crea_canale' | translate }}"
                     ng-click="nuovoCanale()">
                     <i class="fa fa-fw fa-plus"></i>
                     {{ 'nuovo_canale' | translate }}
                  </a>
               </div>
            </div>

            <div class="ibox-content">
               <!-- da visualizzare solo su l'utente che accede non ha canali abilitati -->
               <div class="alert alert-info" ng-if="user._id" ng-hide="canali.length || loading">
                  {{ 'no_canali' | translate }}
               </div>
               <div class="alert alert-info" ng-if="!user._id" ng-hide="canali.length || loading">
                  {{ 'no_canali_pubblici' | translate }}
               </div>
               <div class="alert alert-info" ng-show="loading">
                  {{ 'loading' | translate }}
               </div>

               <div ng-if="canali.length && user._id" class="privateChannel">
                  <input type="checkbox" class="js-switch_3" ng-model="ctrl.hidepublic">
                  {{ 'solo_privati' | translate }}
               </div>
               <ul class="list-unstyled m-t-md">
                  <li class="ibox-content-wrapper" ng-class="{'ibox-bloccato':canale.blocked}" ng-repeat="canale in canali | filter:filtraPub()" >
                     <div class="ibox-content-element" ng-class="{'ibox-privato':!canale.pubblico, 'ibox-pubblico':canale.pubblico===1, 'ibox-ibrido':canale.pubblico===2}" >
                        <div class="row" >
                           <div class="col-xs-12" >
                              <a href="" ng-click="selectCanale()" ng-if="!canale.blocked || user.admin">
                                 <h3>
                                    <!--<i class="fa fa-lock" ng-if="!canale.pubblico"></i>-->
                                    {{canale.nome}}
                                 </h3>
                              </a>
                              <h3 ng-if="canale.blocked && !user.admin">{{canale.nome}}</h3>
                              <small class="text-danger" ng-if="canale.blocked && !user.admin">
                                 {{ 'canale_bloccato' | translate }}
                                 <a href="mailto:{{company.mail_account}}">
                                    {{ 'contattaci' | translate }}
                                 </a>
                              </small>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         <!-- modale per creare un nuovo canale -->
         <div class="modal" id="nuovocanale" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content animated bounceInRight">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                     </button>
                     <h4 class="modal-title">
                        {{ 'crea_canale' | translate }}
                     </h4>
                  </div>
                  <div class="modal-body" ng-class="{'has-error':modalForm.nome.$error.maxlength || nomeEsistente}">
                     <form name="modalForm">
                        <div class="form-group">
                           <label>{{ 'nome' | translate }}</label>
                           <input type="text"
                                  name="nome"
                                  class="form-control"
                                  ng-model="channel.nome"
                                  ng-minlength="1"
                                  ng-maxlength="250"
                                  placeholder=""
                                  autofocus />
                        </div>
                        <div class="alert alert-danger" ng-show="nomeEsistente">
                           {{ 'nomeduplicato' | translate }}
                        </div>
                        <div class="alert alert-danger" ng-show="modalForm.nome.$error.maxlength">
                           <span translate="maxlength" translate-values="{ num: '250' }"></span>
                        </div>
                        <div class="form-group">
                           <label>{{ 'mittente_email' | translate }}</label>
                           <input type="text"
                                  name="mail_from_name"
                                  class="form-control"
                                  ng-model="channel.mail_from_name"
                                  ng-minlength="1"
                                  ng-maxlength="255"
                                  placeholder="" />
                        </div>
                        <div class="alert alert-danger" ng-show="modalForm.mail_from_name.$error.maxlength">
                           <span translate="maxlength" translate-values="{ num: '255' }"></span>
                        </div>
                        <div class="form-group">
                           <label>{{ 'nuovi_docs_email' | translate }}</label>
                           <input type="text"
                                  name="mail_nuovi_docs"
                                  class="form-control"
                                  ng-model="channel.mail_nuovi_docs"
                                  ng-minlength="1"
                                  ng-maxlength="255"
                                  placeholder="" />
                        </div>
                        <div class="alert alert-danger" ng-show="modalForm.mail_nuovi_docs.$error.maxlength">
                           <span translate="maxlength" translate-values="{ num: '255' }"></span>
                        </div>
                        <div class="form-group">
                           <label>{{ 'avviso' | translate }}</label>
                           <textarea name="avviso" class="form-control" ng-model="channel.avviso"></textarea>
                        </div>
                        <div class="form-group">
                           <label>{{ 'public' | translate }}</label>
                           <select class="form-control" ng-model="channel.pubblico">
                              <option value="0" ng-if="!selectedChannel.pubblico">Privato</option>
                              <option value="1" ng-if="!selectedChannel.pubblico">Pubblico</option>
                              <option value="2">Ibrido</option>
                           </select>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'annulla' | translate }}
                     </button>
                     <button type="button" class="btn btn-primary" ng-click="scriviCanale()">
                        {{ 'salva' | translate }}
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <!-- fine modale -->
      </div>
   </div>
</div>
<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
