<div id="login" class="gray-bg dashbard-1">
   <div class="pg-login" data-region="content">
      <div class="login-container">
         <div class="login-form bg-white p-xl">
            <div>
               <div class="alertAreaPubblica" ng-if="company.pubblici">
                  <div class="alertAreaPubblica-inner">
                     <h2 class="alertAreaPubblica-title"><a href="/#!/home">Visualizza e consulta</a> i Canali e i Documenti pubblici</h2>
                     <h3>oppure effettua la login per visualizzare i tuoi documenti riservati</h3>
                  </div>
               </div>
               <div>
                  <div class="loginBox p-t-lg m-b-lg">
                     <!-- logo cliente -->
                     <img ng-if="company && company.logo_login" ng-src="{{ company.logo_login }}" class="img-responsive logoCliente">
                     <h1 class="m-t-lg p-b-xl">Area riservata per la condivisione di documenti e informazioni.</h1>

                     <div ng-if="company.cid === 'localhost' || company.cid === 'demo.pluridoc.it'">
                        <a hidden style="display:none" id="linkSPIDSTART" href="#" referrerpolicy="no-referrer-when-downgrade"></a>
                        <button id="spid"
                              type="button"
                              ng-click="entraConSpid()"
                              class="btn btn-lg btn-primary m-t-md full-width block">
                           <span ng-hide="submitting">Entra con SPID</span>
                           <span ng-show="submitting">{{ 'verifico' | translate }}</span>
                        </button>
                        <br />
                     </div>

                     <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * begin * -->
                     <!-- <form name="spid_idp_access" action="#" method="post">
                        <input type="hidden" name="param_001" value="" />
                        <input type="hidden" name="param_002" value="" />
                        <input type="hidden" name="param_003" value="" />
                        <a href="#" class="italia-it-button italia-it-button-size-m button-spid" spid-idp-button="#spid-idp-button-medium-post" aria-haspopup="true" aria-expanded="false">
                           <span class="italia-it-button-icon"><img src="img/spid/spid-ico-circle-bb.svg" onerror="this.src='img/spid/spid-ico-circle-bb.png'; this.onerror=null;" alt="" /></span>
                           <span class="italia-it-button-text">Entra con SPID</span>
                        </a>
                        <div id="spid-idp-button-medium-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
                           <ul id="spid-idp-list-medium-root-post" class="spid-idp-button-menu" aria-labelledby="spid-idp">
                              <li class="spid-idp-button-link" data-idp="testidp">
                                 <button class="idp-button-idp-logo" name="test_id" type="submit"><span class="spid-sr-only">TESTLOCALE</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-arubaid.svg" onerror="this.src='img/spid/spid-idp-arubaid.png'; this.onerror=null;" alt="TESTLOCALE" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="arubaid">
                                    <button class="idp-button-idp-logo" name="aruba_id" type="submit"><span class="spid-sr-only">Aruba ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-arubaid.svg" onerror="this.src='img/spid/spid-idp-arubaid.png'; this.onerror=null;" alt="Aruba ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="infocertid">
                                    <button class="idp-button-idp-logo" name="infocert_id" type="submit"><span class="spid-sr-only">Infocert ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-infocertid.svg" onerror="this.src='img/spid/spid-idp-infocertid.png'; this.onerror=null;" alt="Infocert ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="intesaid">
                                    <button class="idp-button-idp-logo" name="intesa_id" type="submit"><span class="spid-sr-only">Intesa ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-intesaid.svg" onerror="this.src='img/spid/spid-idp-intesaid.png'; this.onerror=null;" alt="Intesa ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="lepidaid">
                                    <button class="idp-button-idp-logo" name="lepida_id" type="submit"><span class="spid-sr-only">Lepida ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-lepidaid.svg" onerror="this.src='img/spid/spid-idp-lepidaid.png'; this.onerror=null;" alt="Lepida ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="namirialid">
                                    <button class="idp-button-idp-logo" name="namirial_id" type="submit"><span class="spid-sr-only">Namirial ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-namirialid.svg" onerror="this.src='img/spid/spid-idp-namirialid.png'; this.onerror=null;" alt="Namirial ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="posteid">
                                    <button class="idp-button-idp-logo" name="poste_id" type="submit"><span class="spid-sr-only">Poste ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-posteid.svg" onerror="this.src='img/spid/spid-idp-posteid.png'; this.onerror=null;" alt="Poste ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="sielteid">
                                    <button class="idp-button-idp-logo" name="sielte_id" type="submit"><span class="spid-sr-only">Sielte ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-sielteid.svg" onerror="this.src='img/spid/spid-idp-sielteid.png'; this.onerror=null;" alt="Sielte ID" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="spiditalia">
                                    <button class="idp-button-idp-logo" name="spiditalia" type="submit"><span class="spid-sr-only">SPIDItalia Register.it</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-spiditalia.svg" onerror="this.src='img/spid/spid-idp-spiditalia.png'; this.onerror=null;" alt="SpidItalia" /></button>
                              </li>
                              <li class="spid-idp-button-link" data-idp="timid">
                                    <button class="idp-button-idp-logo" name="tim_id" type="submit"><span class="spid-sr-only">Tim ID</span><img class="spid-idp-button-logo" src="img/spid/spid-idp-timid.svg" onerror="this.src='img/spid/spid-idp-timid.png'; this.onerror=null;" alt="Tim ID" /></button>
                              </li>
                              <li class="spid-idp-support-link" data-spidlink="info">
                                    <a href="https://www.spid.gov.it">Maggiori informazioni</a>
                              </li>
                              <li class="spid-idp-support-link" data-spidlink="rich">
                                    <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
                              </li>
                              <li class="spid-idp-support-link" data-spidlink="help">
                                    <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
                              </li>
                           </ul>
                        </div>
                     </form> -->
                     <!-- AGID - SPID IDP BUTTON MEDIUM "ENTRA CON SPID" * end * -->

                     <form class="m-t-sm m-b-lg" role="form" name="loginForm" ng-submit="submit()" novalidate="">
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <i class="fa fa-fw fa-envelope"></i>
                              </span>
                              <input type="text"
                                    id="mail"
                                    class="form-control input-lg"
                                    placeholder="example@email.com"
                                    ng-model="credentials.email"
                                    ng-required
                                    autofocus>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">
                                 <i class="fa fa-fw fa-lock"></i>
                              </span>
                              <input type="password"
                                    class="form-control input-lg"
                                    placeholder="password"
                                    ng-model="credentials.password"
                                    ng-required>
                           </div>
                        </div>

                        <p data-ng-init="onloadFun()" class="loginreset text-center p-t-sm p-b-sm">
                           <a href="#" data-toggle="modal" data-target="#resetpassword" data-dismiss="modal">
                              <u>{{ 'dimenticata' | translate }}</u>
                           </a>
                        </p>
                        <button id="submit_button"
                              type="submit"
                              class="btn btn-lg btn-primary m-t-md full-width block">
                           <span ng-hide="submitting">{{ 'login' | translate }}</span>
                           <span ng-show="submitting">{{ 'verifico' | translate }}</span>
                        </button>
                     </form>
                  </div>
                  <!--<div class="m-t-lg p-t-lg text-right">
                     <a href="/#!/home"><u>Accedi ai canali pubblici</u></a>
                  </div>-->
               </div>
               
            </div>   
            
         </div>
         
         <div class="login-image relative-position">
            <img src="/img/pluridoc/pluridoc_logo_white.svg" class="img-responsive logoLogin logo-plurimedia p-t-lg" alt="">
         </div>
      </div>

      

      <!-- reset password -->
      <div class="modal" id="resetpassword" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog modal-sm">
            <div class="modal-content animated bounceInDown">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                  </button>
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="c-logo-login text-center">
                           <img ng-if="company && company.logo_login" ng-src="{{ company.logo_login }}" class="img-responsive logoCliente m-0-auto p-md">
                           <p class="lead m-t-md">{{ 'dimenticata' | translate }}</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <p class="m-b-md">
                     {{ 'chiedi_mail' | translate }}
                  </p>
                  <form>
                     <div class="form-group">
                        <div class="input-group">
                           <span class="input-group-addon">
                              <i class="fa fa-fw fa-envelope"></i>
                           </span>
                           <input type="text" class="form-control input-lg" placeholder="example@email.com" ng-model="credentials.email2">
                        </div>
                     </div>
                     <button type="submit"
                             class="btn btn-lg btn-primary m-t-md full-width block"
                             ng-click="password_request()"
                             ng-disabled="submitting_pass || !credentials.email2">
                        {{ 'invia_mail' | translate }}
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- fine reset password -->
   </div>
</div>
