<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'rpt_tags' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <div class="row m-b-md m-t-sm">
                     <div class="col-md-3 m-b-sm">
                        <label>Filtra 
                        <select name="search_canale"
                                id="search_canale"
                                class="form-control"
                                ng-model="search.canale"
                                ng-options="canale as canale.nome for canale in canali track by canale.canale_id"
                                style="height: 44px; margin-top: 5px;">
                           <option value="">- {{ 'filtraxcanale' | translate }} -</option>
                        </select>
                     </div>
                     <div class="col-md-6 m-b-sm">
                        <label>Tags <i class="fa fa-tag"></i>
                           <tags-input class="ti-input-sm etichette-tag" 
                                       ng-model="search.tags" 
                                       use-strings="true"
                                       min-length="3"
                                       max-length="30"
                                       add-from-autocomplete-only="true"
                                       placeholder="es: fattura, bando" 
                                       replace-spaces-with-dashes="false">
                              <auto-complete source="cercaTag($query)"></auto-complete>
                           </tags-input>
                        </label>
                     </div>
                     <div class="col-md-3">
                        <a class="btn btn-default" ng-click="resetSearch()" style="padding: 11px 20px; margin-top: 21px;">
                           <i class="fa fa-undo"></i> {{ 'ripristina' | translate }}
                        </a>
                        <a class="btn btn-primary" style="padding: 11px 20px; margin-top: 21px; margin-left: 10px;"
                           ng-click="recuperaDocs()"
                           ng-if="search && search.tags && search.tags.length">
                           <i class="fa fa-search"></i> {{ 'cerca' | translate }}
                        </a>
                     </div>
                  </div>

                  <div class="alert alert-info" ng-show="loading">
                     {{ 'loading' | translate }}
                  </div>

                  <div class="c-file-list" ng-if="files && !files.length && !loading">
                    <p>Nessun documento trovato</p>
                  </div>
                  <div class="c-file-list" ng-if="files && files.length && !loading">
                     <!-- file -->
                     <div class="row" ng-repeat="file in files">
                        <div class="col-xs-12 col-md-9">
                           <div>
                              <div class="c-file-icon">
                                 <i class="fa fa-lg fa-fw fa-file text-grey c-fa"></i>
                              </div>
                              <div class="c-file-info">
                                 <a class="c-file-list-title" target="_blank" href="/rest/docs/download/{{file._id}}/{{file.canale_id}}/N/Y">
                                    {{file.percorso}}/{{file.name_orig}}
                                 </a>
                                 <div class="c-file-list-descrizione m-b-sm">{{file.descrizione}}</div>
                                 <div class="c-file-list-descrizione m-b-sm" ng-if="file.tags && file.tags.length">
                                    <span ng-repeat="t in file.tags track by $index" class="c-file-list-etichette label label-info m-r-xs">
                                       {{t}}
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-4 col-md-1 c-file-list-data">
                           <small>{{file.mdate | data}}</small>
                        </div>
                        <div class="col-xs-4 col-md-1 c-file-list-mega">
                           <small>{{file.size | bytes}}</small>
                        </div>
                        <div class="col-xs-4 col-md-1">
                           <div class="btn-group pull-right">
                              <button data-toggle="dropdown"
                                      class="btn btn-xs btn-default dropdown-toggle"
                                      aria-expanded="false">
                                 <i class="fa fa-cog"></i>
                              </button>
                              <ul class="dropdown-menu">
                                 <li>
                                    <a title="{{ 'scarica' | translate }}"
                                       target="_blank"
                                       href="/rest/docs/download/{{file._id}}/{{file.canale_id}}/Y/Y">
                                       <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                                       {{ 'scarica' | translate }}
                                    </a>
                                 </li>
                                 <li>
                                    <a title="{{ 'copia_url' | translate }}"
                                       ng-click="copyUrl(file._id, file.canale_id)">
                                       <i class="fa fa-fw fa-copy" aria-hidden="true"></i>
                                       {{ 'copia_url' | translate }}
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!-- /file -->
                  </div>
               </div>
               <!--/ibox content-->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
