<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'rpt_canali' | translate }}</h2>
      </div>
   </div>
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <!-- statistiche totali -->
                  <div class="row m-b-md">
                     <div class="col-md-12 text-right m-b-sm" ng-if="stato">
                        {{ 'stat_agg' | translate }} {{stato.last_date}} h. {{stato.last_sec}}
                     </div>
                     <div class="col-md-12 text-right m-b-sm text-left-mobile" ng-if="!stato">
                        Job non presente o non attivo. Se non siamo in svil avvertire un admin.
                     </div>
                     <div class="col-md-4">
                        <div class="widget style1 red-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-th-large fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_canali' | translate }}
                                 <h2 class="font-bold">{{ultimo.canali}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="widget style1 yellow-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-user fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_utenti' | translate }}
                                 <h2 class="font-bold">{{ultimo.utenti}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="widget style1 blu-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-hdd-o fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_spazio' | translate }}
                                 <h2 class="font-bold">{{ultimo.documenti | bytes}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- / statistiche totali -->

                  <ul class="list-unstyled">
                     <!-- canale -->
                     <li ng-repeat="canale in canali track by $index">
                        <div class="ibox-content-element">
                           <div class="row">
                              <div class="col-xs-12 col-md-5">
                                 <h3>{{canale.nome}}</h3>
                              </div>
                              <div class="col-xs-6 col-md-2 ibox-label">
                                 <a href="" data-toggle="modal" data-target="#elencoutenti" ng-click="utenti_channel()">
                                    <span class="label label-lg label-warning">
                                       <i class="fa fa-fw fa-user"></i> {{canale.n_utenti}}
                                    </span>
                                 </a>
                              </div>
                              <div class="col-xs-6 col-md-2 ibox-label">
                                 <span class="label label-lg label-blu">
                                    <i class="fa fa-fw fa-hdd-o"></i> {{canale.total_size | bytes}}
                                 </span>
                              </div>
                              <div class="col-xs-12 col-md-3">
                                 <div class="progress">
                                    <div class="progress-bar" aria-valuenow="{{canale.perc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{canale.perc}}%;"></div>
                                 </div>
                                 <small class="help-block"><strong>{{ canale.perc ? canale.perc : 0 }}%</strong> {{ 'dello_spazio' | translate }}</small>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- modale per visualizzare gli utenti -->
            <div class="modal" id="elencoutenti" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content animated bounceInRight">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">{{ 'stat_membri' | translate }}</h4>
                        <small class="font-bold">{{nome_canale}}</small>
                     </div>
                     <div class="modal-body" ng-show="utenti">
                        <!-- ordinamento alfabetico -->
                        <div class="table-responsive c-overflow">
                           <table class="table table-striper table-hover">
                              <thead>
                                 <tr>
                                    <th>{{ 'nome' | translate }}</th>
                                    <th>{{ 'ruolo' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="utente in utenti track by $index">
                                    <td>{{utente.nome}}</td>
                                    <td>{{utente.ruolo | ruolo}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- fine modale -->
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
