<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'rpt_mail' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <ul class="nav nav-pills m-b-lg">
                     <li class="active"><a href="#!/report/mail"><i class="fa fa-fw fa-list-ul"></i> {{ 'elenco' | translate }}</a></li>
                     <li ng-if="user.admin"><a href="#!/report/mail/grafici"><i class="fa fa-fw fa-pie-chart"></i> {{ 'grafici' | translate }}</a></li>
                  </ul>
                  <div class="row m-b-md m-t-sm" ng-if="user.admin">
                     <div class="col-md-3 m-b-sm">
                        <select name="search_canale"
                                id="search_canale"
                                class="form-control"
                                ng-model="search.canale"
                                ng-options="canale as canale for canale in canali">
                           <option value="">- {{ 'filtraxcanale' | translate }} -</option>
                        </select>
                     </div>
                     <div class="col-md-3 m-b-sm">
                        <select name="search_tipo" id="search_tipo" class="form-control" ng-model="search.tipo">
                           <option value="">- {{ 'filtraxtipo' | translate }} -</option>
                           <option value="caricamento">{{ 'uploads' | translate }}</option>
                           <option value="transfer">{{ 'filexfer' | translate }}</option>
                           <option value="forget-password">{{ 'cambiapwd' | translate }}</option>
                           <option value="account">{{ 'filtraxcrea' | translate }}</option>
                        </select>
                     </div>
                     <div class="col-md-3">
                        <a class="btn btn-default" ng-click="resetSearch()"> <i class="fa fa-undo"></i> {{ 'ripristina' | translate }}</a>
                     </div>
                  </div>

                  <div class="alert alert-info" ng-show="loading">
                     {{ 'loading' | translate }}
                  </div>
                  <!-- Facciamo visualizzare 20 risultati in ordine decrescente di data e ora -->
                  <div class="row" ng-hide="loading">
                     <div class="col-xs-12">
                        <div class="table-responsive table-responsive-card table-responsive-card-{{ 'lang' | translate }}">
                           <table class="table table-striped table-bordered table-hover">
                              <thead>
                                 <tr>
                                    <th>{{ 'canale' | translate }}</th>
                                    <th>{{ 'tipo' | translate }}</th>
                                    <th>Uploader</th>
                                    <th>{{ 'data' | translate }}</th>
                                    <th>{{ 'ora' | translate }}</th>
                                    <th class="col-sm-2 text-center">{{ 'mail_dtl' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr dir-paginate="invio in invii | filter:filtraCanali() | itemsPerPage: 20" pagination-id="cust">
                                    <td data-colname="Canale">{{invio.canale}}</td>
                                    <td data-colname="Tipologia">{{invio.tipo | translate}}</td>
                                    <td data-colname="Utente">{{invio.utente}}</td>
                                    <td data-colname="Data">{{invio.cdate | data}}</td>
                                    <td data-colname="Ora">{{invio.cdate | ora}}</td>
                                    <td data-colname="Dettaglio" class="text-center text-left-mobile ">
                                       <a data-toggle="modal" data-target="#reportaemailinfo" href="" class="btn btn-xs btn-default" ng-click="getInvio(invio)">
                                          <i class="fa fa-eye"></i>
                                       </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
               </div>
               <!--/ibox content-->

               <!-- modale maggiori info -->
               <div class="modal" id="reportaemailinfo" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <h4 class="modal-title">{{ 'data_invio' | translate }} {{invio.cdate | data}} {{invio.cdate | ora}}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="text-right m-b-md">
                              <label class="label label-primary">{{ 'stat_dest' | translate }}: {{invio.mails.length}}</label>
                           </div>
                           <div class="table-responsive c-overflow">
                              <table class="table table-striped table-hover">
                                 <thead>
                                    <tr>
                                       <th>{{ 'destinatario' | translate }}</th>
                                       <th>{{ 'stato' | translate }}</th>
                                       <th>{{ 'aperta' | translate }}</th>
                                       <th>{{ 'clicks' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="mail in invio.mails">
                                       <td>{{mail.nome}}</td>
                                       <td>{{mail.stato.state}}</td>
                                       <td>{{mail.stato.opens}}</td>
                                       <td>{{mail.stato.clicks}}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
