<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'rpt_mail' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <!-- tabs -->
                  <ul class="nav nav-pills m-b-lg">
                     <li><a href="#!/report/mail"><i class="fa fa-fw fa-list-ul"></i> {{ 'elenco' | translate }} </a></li>
                     <li class="active"><a href="#!/report/mail/grafici"><i class="fa fa-fw fa-pie-chart"></i> {{ 'grafici' | translate }}</a></li>
                  </ul>
                  <!-- /tabs -->

                  <div class="alert alert-info" ng-show="loading">
                     {{ 'loading' | translate }}
                  </div>
                  <!-- sul filtro per canale facciamo vedere solo il doughnut chart relativo a quel canale -->
                  <div class="row m-t-md m-b-lg" ng-hide="loading">
                     <!-- Doughnut Chart-->
                     <div class="col-md-6">
                        <h5 translate="tipimail" translate-values="{ num: invii }"></h5>
                        <div class="hr-line-dashed"></div>
                        <canvas id="totMail" width="500px"></canvas>
                     </div>
                  </div>
                  <div class="row m-t-md" ng-hide="loading">
                     <!-- Bar Chart -->
                     <div class="col-md-8">
                        <h5>{{ 'mailxcanale' | translate }}</h5>
                        <div class="hr-line-dashed"></div>
                        <canvas id="mailCanale"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
