<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'rpt_sintesi' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <div class="col-md-12 text-right m-b-sm" ng-if="stato">
                     {{ 'stat_agg' | translate }} {{stato.last_date}} h. {{stato.last_sec}}
                  </div>
                  <div class="col-md-12 text-right m-b-sm text-left-mobile" ng-if="!stato">
                     Job non presente o non attivo. Se non siamo in svil avvertire un admin.
                  </div>
                  <div class="row m-b-md">
                     <div class="col-md-4">
                        <div class="widget style1 red-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-th-large fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_canali' | translate }}
                                 <h2 class="font-bold">{{ultimo.canali}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="widget style1 yellow-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-user fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_utenti' | translate }}
                                 <h2 class="font-bold">{{ultimo.utenti}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="widget style1 blu-bg">
                           <div class="row">
                              <div class="col-xs-4">
                                 <i class="fa fa-hdd-o fa-5x"></i>
                              </div>
                              <div class="col-xs-8 text-right">
                                 {{ 'stat_spazio' | translate }}
                                 <h2 class="font-bold">{{ultimo.documenti | bytes}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                        <canvas id="StatsCanali" width="500px"></canvas>
                     </div>
                  </div>

                  <div class="row m-t-xl">
                     <div class="col-md-8 col-md-offset-2">
                        <canvas id="StatsUtenti"></canvas>
                     </div>
                  </div>

                  <div class="row m-t-xl">
                     <div class="col-md-8 col-md-offset-2">
                        <canvas id="StatsSpazio"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
