<div class="row" ng-hide="user">
   Loading user....
</div>

<div class="middle-box loginscreen animated fadeInDown" ng-show="user">
   <div data-region="content">
      <div class="row animated fadeIn">
         <div class="col-xs-12">
            <div class="c-logo"></div>
            <h1 class="logo-name-md" ng-if="company.shortname == 'Brianzacque'">Extranet</h1>
         </div>
      </div>
      <div class="row m-t-md">
         <div class="col-xs-12">
            <div class="ibox">
               <div class="ibox-title text-center">
                  <h3>{{user.nome}}, {{ 'reimposta' | translate }}</h3>
               </div>
               <div class="ibox-content">
                  <div class="row">
                     <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                           <div class="form-group">
                              <label>{{ 'newpwd' | translate }}
                                 <i ng-class="pass_confirm()"></i>
                              </label>
                              <input id="password"
                                     type="password"
                                     class="form-control"
                                     ng-minlength="6"
                                     ng-model="password"
                                     required />
                              <small class="help-block">{{ 'newpwdrule' | translate }}</small>
                           </div>
                           <div class="form-group">
                              <label>{{ 'newpwd2' | translate }}
                                 <i ng-class="pass_confirm()"></i>
                              </label>
                              <input id="password_confirm"
                                     type="password"
                                     class="form-control"
                                     ng-minlength="6"
                                     ng-model="password_confirm"
                                     required />
                           </div>
                           <button type="button"
                                   ng-click="scriviPassword()"
                                   ng-disabled="password.length < 6 || password != password_confirm"
                                   class="btn btn-primary m-b pull-right">
                              {{ 'salva' | translate }}
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
