<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'filexfer' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn ng-scope">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox">
               <div class="ibox-content m-b-mobile">
                  <div class="alert alert-info m-b-lg">
                     {{ 'xfer_msg' | translate }}
                  </div>

                  <!-- aggiungere: mittente mail e mittende dati (nome e cognome) -->
                  <form class="form-horizontal">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'destinatari' | translate }} *</label>
                        <div class="col-sm-8">
                           <input type="text"
                                  class="form-control"
                                  autocomplete="off"
                                  placeholder="example@email.com"
                                  required="required"
                                  ng-model="destinatari_txt"
                                  autofocus>
                           <small class="help-block">{{ 'destinatari_msg' | translate }}</small>
                        </div>
                     </div>

                     <div class="hr-line-dashed"></div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'testo' | translate }}</label>
                        <div class="col-sm-8">
                           <textarea rows="5" class="form-control" ng-model="testo"></textarea>
                        </div>
                     </div>

                     <div class="hr-line-dashed"></div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'allegato' | translate }} *</label>
                        <div class="col-sm-8">
                           <p class="p-md m-b-sm bg-warning m-b-none text-center"
                              ng-model="files"
                              ngf-select="uploadFiles($files)"
                              ngf-drop="uploadFiles($files)"
                              ngf-drag-over-class="{accept:'panel-warning', reject:''}"
                              ngf-multiple="false"
                              ngf-allow-dir="false">
                              {{ 'trascina_uno' | translate }}<br>
                              <em>{{ 'o' | translate }}</em><br>
                              {{ 'clicca' | translate }}
                           </p>
                           <!--ngf-pattern="'image/*,application/pdf,.doc,.docx,.xls,.xlsx,.zip,.gz'"-->

                           <small class="help-block">
                              Puoi inviare <strong>un file alla volta</strong>. Se hai necessità di inviare più file puoi caricare un file .zip
                           </small>

                           <div>
                              <div class="m-t-md">
                                 <table class="table">
                                    <tr ng-repeat="file in docs">
                                       <td class="col-xs-3">{{file.name}}</td>
                                       <td class="col-xs-6">
                                          <div class="progress">
                                             <div class="progress-bar"
                                                  ng-class="{'active progress-bar-striped' :progress<100 , 'progress-bar-success' : progress===100}"
                                                  role="progressbar"
                                                  aria-valuenow="{{progress}}"
                                                  aria-valuemin="0"
                                                  aria-valuemax="100"
                                                  style="width: {{progress}}%">
                                                <span ng-show="progress===100"><i class="fa fa-check"></i> {{ 'caricato' | translate }}!</span>
                                             </div>
                                          </div>
                                       </td>
                                       <td class="text-right col-xs-3">{{file.size | bytes}}</td>
                                       <td class="text-right col-xs-1">
                                          <a href="" ng-hide="progress<100" ng-click="rimuoviDoc(file)" class="btn btn-danger btn-xs">
                                             <i class="fa fa-trash"></i>
                                          </a>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                              <!--small ng-if="docs.length"><a class="text-danger" href="" ng-click="rimuoviDocs()"><i class="fa fa-trash" /> Cancella tutti i file</a></small-->
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-disabled="!canSend" ng-click="confermaTransfer()">{{ 'invia_mail' | translate }}</button>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
