<div data-region="content">
   <div class="row border-bottom white-bg page-heading">
      <div class="col-md-12">
         <h2>{{ 'utenti' | translate }}</h2>
      </div>
   </div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <div class="ibox-tools m-b-xs m-t-md">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <input type="text" placeholder="{{ 'filtra_utenti' | translate }}" class="form-control" ng-model="search.nome">
                           </div>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                           <a class="btn btn-sm btn-primary"
                              href=""
                              data-toggle="modal"
                              data-target="#creautente"
                              ng-click="crea_utente()"
                              title="{{ 'nuovo_utente' | translate }}">
                              <i class="fa fa-fw fa-user-plus"></i> {{ 'nuovo_utente' | translate }}
                           </a>
                        </div>
                     </div>
                     <div class="row m-t-md m-b-sm text-left">
                        <div class="col-md-5">
                           <label class="m-r-xl text-normal">
                              <input type="checkbox" ng-model="solotemp"> {{ 'utenti_att' | translate }}
                           </label>
                        </div>
                        <div class="col-md-4">
                           <label class="text-normal">
                              <input type="checkbox" ng-model="showblocked"> {{ 'utenti_eliminati' | translate }}
                           </label>
                        </div>                       
                     </div>
                  </div>

                  <div class="alert alert-info" ng-if="!utenti.length && !loading">{{ 'nessun_utente' | translate }}</div>

                  <div class="alert alert-info" ng-if="loading">{{ 'loading' | translate }}</div>

                  <div class="table-responsive table-responsive-card table-responsive-card-big table-responsive-card-{{ 'lang' | translate }}" ng-if="utenti.length">
                     <table class="table table-striped table-bordered table-hover">
                        <thead>
                           <tr>
                              <th>{{ 'nome' | translate }}</th>
                              <th>Email</th>
                              <th>{{ 'azienda' | translate }}</th>
                              <th>MB upload</th>
                              <th>MB download</th>
                              <th>{{ 'ultimo_accesso' | translate }}</th>
                              <th style="max-width: 100px">{{ 'email_activation' | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr dir-paginate="utente in utenti | filter:filtraNomeMailAzienda() | filter:filtraTemp() | itemsPerPage: 20" pagination-id="cust">
                              <td data-colname="Nome" style="white-space: initial;">
                                 <i class="fa fa-lock" ng-if="utente.blocked"></i>
                                 <a href="#!/user/{{utente._id}}">{{utente.nome}}</a>
                              </td>
                              <td data-colname="Mail">{{utente.mail}}</td>
                              <td data-colname="Azienda">{{utente.azienda}}</td>
                              <td data-colname="MB Upload">{{utente.uploaded_size | bytes}}</td>
                              <td data-colname="MB Download">{{utente.downloaded_size | bytes}}</td>
                              <td data-colname="Ultimo accesso" ng-if="utente.fl_temp" style="white-space: initial">
                                 <span class="text-danger">{{ 'attivazione' | translate }}</span>
                              </td>
                              <td data-colname="Ultimo accesso" ng-if="!utente.fl_temp" style="white-space: initial">{{utente.last_login}}</td>
                              <td data-colname="Email attivazione" style="text-align: left; white-space: initial;">
                                 <button type="button"
                                         ng-click="mailAtt(utente.mail)"
                                         title="{{ 'mail_attivazione' | translate }}">
                                    <i class="fa fa-fw fa-envelope"></i>
                                    {{ 'invia_mail' | translate }}
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

                  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>
               </div>
               <!--/ibox content-->

               <!-- modale per creare un utente -->
               <div class="modal" id="creautente" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'filtraxcrea' | translate }}</h4>
                        </div>

                        <div class="modal-body">
                           <form class="form-horizontal">
                              <div class="form-group">
                                 <label class="control-label">{{ 'nome' | translate }}</label>
                                 <div>
                                    <input type="text" class="form-control" required ng-maxlength="200" ng-model="utente.nome">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">Email</label>
                                 <div>
                                    <input type="email" class="form-control" ng-model="utente.mail" required ng-maxlength="200">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">{{ 'azienda' | translate }}</label>
                                 <div>
                                    <input type="text" class="form-control" ng-model="utente.azienda" ng-maxlength="100">
                                 </div>
                              </div>
                              <hr>
                              <div class="form-group">
                                 Imposta delle date se vuoi dare un accesso temporaneo a PluriDoc
                              </div>
                              <div class="form-group">
                                 <label class="control-label">{{ 'dt_ini' | translate }}</label>
                                 <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-autoclose="1" bs-datepicker="" ng-model="utente.decorrenza">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label">{{ 'dt_fin' | translate }}</label>
                                 <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" data-autoclose="1" bs-datepicker="" ng-model="utente.scadenza">
                                 </div>
                              </div>
                              <hr>
                              <div class="form-group">
                                 <label class="control-label"></label>
                                 <input type="checkbox" ng-model="utente.inviaMail"> {{ 'mail_notifica' | translate }}
                              </div>
                              <div class="form-group" ng-show="!utente.inviaMail">
                                 <label class="control-label">Password</label>
                                 <div>
                                    <input type="text" class="form-control" ng-model="utente.password">
                                    <small class="help-block">{{ 'newpwd3' | translate }}</small>
                                 </div>
                              </div>
                           </form>
                        </div>

                        <div class="modal-footer">
                           <button type="button"
                                   class="btn btn-white"
                                   data-dismiss="modal"
                                   ng-disabled="saving">
                              {{ 'annulla' | translate }}
                           </button>
                           <button type="button"
                                   ng-click="scriviUtente()"
                                   class="btn btn-primary"
                                   ng-hide="utente._id"
                                   ng-disabled="saving">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
