<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/user_header.html'"></div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12 wrapper-inner">
            <div class="ibox float-e-margins">
               <div class="ibox-content m-b-mobile">
                  <span ng-include="'/html/includes/user_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12"> 
                        <h2 class="tab-title">{{ 'profilo' | translate }}</h2>
                     </div>
                  </div>

                  <div class="row m-t-lg m-b-md">
                     <div class="col-xs-12">
                        <label class="label label-primary">
                           <i class="fa fa-fw fa-calendar"></i> {{ 'utente_creato' | translate }} {{utente.cdate}}
                        </label>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default">
                           <div class="panel-heading">{{ 'dati_utente' | translate }}</div>
                           <div class="panel-body" ng-show="utente">
                              <form class="form-horizontal">
                                 <div class="form-group">
                                    <label class="control-label">{{ 'nome' | translate }}</label>
                                    <div><input type="text" ng-model="utente.nome" class="form-control"></div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label">{{ 'email' | translate }}</label>
                                    <div><input type="email" ng-model="utente.mail" class="form-control"></div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label">{{ 'azienda' | translate }}</label>
                                    <div><input type="text" ng-model="utente.azienda" class="form-control"></div>
                                 </div>
                                 <hr>
                                 <div class="form-group">
                                    Imposta delle date se vuoi dare un accesso temporaneo a PluriDoc
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label">{{ 'dt_ini' | translate }}</label>
                                    <div class="input-group date">
                                       <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                       <input type="text" class="form-control" data-autoclose="1" bs-datepicker="" ng-model="utente.decorrenza">
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label">{{ 'dt_fin' | translate }}</label>
                                    <div class="input-group date">
                                       <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                       <input type="text" class="form-control" data-autoclose="1" bs-datepicker="" ng-model="utente.scadenza">
                                    </div>
                                 </div>
                              </form>
                           </div>
                           <div class="panel-footer">
                              <button type="button" class="btn btn-primary" ng-click="scriviUtente()" ng-disabled="saving">{{ 'salva' | translate }}</button>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="panel panel-default">
                           <div class="panel-heading">{{ 'accessi' | translate }}</div>
                           <div class="panel-body" ng-show="logs">
                              <label>{{ 'ultimo_accesso' | translate }}:</label> {{last_access}}
                              <hr>
                              <label>{{ 'altri_accessi' | translate }}</label>
                              <div class="row m-b-md m-t-sm">
                                 <div class="col-md-6">
                                    <select name=""
                                            id="mese_selected"
                                            class="form-control"
                                            ng-options="mese as mese for mese in mesi"
                                            ng-model="mese_selected"
                                            ng-change="change_mese(mese_selected)">
                                    </select>
                                 </div>
                              </div>
                              <ul>
                                 <li ng-repeat="log in logs">{{log.cdate}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-sm-2">
                        <a data-toggle="modal" ng-if="!utente.blocked" data-target="#eliminautente" class="btn btn-danger">{{ 'elimina' | translate }}</a>
                        <a data-toggle="modal" ng-if="utente.blocked" ng-click="undelete()" class="btn btn-danger">{{ 'ripristina' | translate }}</a>
                     </div>
                  </div>
               </div>
               <!--/ibox content-->

               <div class="modal" id="eliminautente" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'elimina_utente' | translate }} <em>{{utente.nome}}</em>?</h4>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-danger" ng-click="elimina_utente()">{{ 'elimina' | translate }}</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
