<div data-region="content">
   <div class="row border-bottom white-bg page-heading" ng-include="'/html/includes/user_header.html'"></div>

   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-md-12">
            <div class="ibox float-e-margins">
               <div class="ibox-content">
                  <span ng-include="'/html/includes/user_tabs.html'"></span>
                  <hr>

                  <div class="row show-mobile">
                     <div class="col-md-12">
                        <h2 class="tab-title">{{ 'canali' | translate }}</h2>
                     </div>
                  </div>

                  <div class="row m-t-lg">
                     <div class="col-md-6">
                        <label>
                           <input type="checkbox" ng-click="filtra()"> {{ 'canale_attivo3' | translate }}
                        </label>
                     </div>
                     <div class="col-md-6">
                        <a class="btn btn-sm btn-primary pull-right"
                           href=""
                           ng-click="modal_associa_docs_utente()"
                           data-target="#sceltautente"
                           title="{{ 'associa_documenti_utente' | translate }}">
                           {{ 'associa_documenti_utente' | translate }}
                        </a>
                     </div>
                     <div class="col-xs-12 m-t-sm">
                        <div class="table-responsive">
                           <table class="table table-striped table-bordered table-hover" ng-if="canali.length">
                              <thead>
                                 <tr ng-if="channelsSelected()">
                                    <th class="col-md-10" colspan="3"></th>
                                    <th class="col-md-2">
                                       <label class="label label-default">
                                          {{ 'sel_canali' | translate }} {{channelsSelected()}}
                                       </label>
                                       <div class="btn-group pull-right m-l-md">
                                          <a href=""
                                             data-toggle="modal"
                                             data-target="#ruoloutente"
                                             ng-click="change_ruolo()"
                                             title="{{ 'modifica_ruolo' | translate }}">
                                             <i class="fa fa-cog"></i>
                                          </a>
                                       </div>
                                    </th>
                                 </tr>
                                 <tr>
                                    <th class="col-md-1">
                                       <label class="pull-left" ng-if="canali.length>1">
                                          <ui-select-all items="canali" prop="selected"></ui-select-all>
                                          {{ 'seleziona_tutti' | translate }}
                                       </label>
                                    </th>
                                    <th class="col-md-7">{{ 'nome' | translate }}</th>
                                    <th class="col-md-2">{{ 'ruolo' | translate }}</th>
                                    <th class="col-md-2">{{ 'azioni' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="c in canali">
                                    <td class="col-md-1">
                                       <label class="pull-left m-r-lg">
                                          <i ng-if="!c.selected" class="fa fa-square-o" ng-click="c.selected=true"></i>
                                          <i ng-if="c.selected" class="fa fa-check-square-o" ng-click="c.selected=false"></i>
                                       </label>
                                    </td>
                                    <td>{{c.nome}}</td>
                                    <td>
                                       <a href=""
                                          data-toggle="modal"
                                          data-target="#ruoloutente"
                                          ng-click="change_ruolo(c)"
                                          title="{{ 'modifica_ruolo' | translate }}">
                                          {{c.ruolo | ruolo | translate}}
                                       </a>
                                    </td>
                                    <td>
                                       <a class="btn btn-sm btn-primary"
                                          href=""
                                          ng-if="c.ruolo == 0"
                                          ng-click="associa_docs(c)"
                                          title="{{ 'associa_tutti' | translate }}">
                                          {{ 'associa_tutti' | translate }}
                                       </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- modale per scelta utente -->
               <div class="modal" id="sceltautente" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <h4 class="modal-title">{{ 'seleziona_utente_per_docs' | translate }}</h4>
                           <p>{{ 'seleziona_utente_per_docs_sottotitolo' | translate }}</p>
                        </div>
                        <div class="modal-body">
                           <label>{{ 'sel_utenti' | translate }}</label>
                           <input type="text" class="form-control" placeholder="{{ 'filtra_utenti' | translate }}" ng-model="search.nome">
                           <!-- filtro sulla tabella degli utenti -->

                           <div class="table-responsive c-overflow m-t-md">
                              <table class="table table-striper" ng-show="users.length">
                                 <thead>
                                    <tr>
                                       <th>{{ 'nome' | translate }}</th>
                                       <th>{{ 'seleziona' | translate }}</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="user in users | filter:search:strict">
                                       <td>{{user.nome}}</td>
                                       <td>
                                          <a class="btn btn-sm btn-primary"
                                             href=""
                                             ng-click="modal_conferma_associa_docs_utente(user)"
                                             title="{{ 'associa_tutti' | translate }}">
                                             {{ 'seleziona' | translate }}
                                          </a>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- fine modale -->

               <!-- modale di conferma per associazione di tutti i doc di un utente ad altro utente-->
               <div class="modal" id="confermasceltautente" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'conferma_selezione' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ 'conferma_selezione_text' | translate }}
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-primary" ng-click="associa_docs_utente()">{{ 'salva' | translate }}</button>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- modale per cambiare il ruolo utente -->
               <div class="modal" id="ruoloutente" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                           </button>
                           <h4 class="modal-title">{{ 'modifica_ruolo' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row m-b-md">
                              <div class="col-sm-8">
                                 <strong>{{utente.nome}}</strong> <br>
                                 <small>{{utente.mail}}</small>
                              </div>
                              <div class="col-sm-4">
                                 <select class="form-control" ng-model="selectedChannel.ruolo">
                                    <option value="" ng-if="!selectedChannel.pubblico">No access</option>
                                    <option value="" ng-if="selectedChannel.pubblico">Viewer</option>
                                    <option value="1" ng-if="!selectedChannel.pubblico">Viewer</option>
                                    <option value="2">Uploader light</option>
                                    <option value="3">Uploader</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'annulla' | translate }}</button>
                           <button type="button" class="btn btn-primary" ng-click="changeAccess(selectedChannel.canale_id, selectedChannel.ruolo)">
                              {{ 'salva' | translate }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div data-region="footer" ng-include="'/html/includes/footer.html'"></div>
